{% extends "base.html" %}

{% block hi %} 
<div class="top-class" style="color: white;">
    <h1>
        Political Data is Text Data.
    </h1>
</div>

<div class="hi-class">
    <h2>
    We can use NLP to analyze it, 
    </h2>
    <h3>
        remove the noise,
    </h3>
    <h4>
        and find the signal.
    </h4>
    <svg width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon points="0,100 100,0 100,100" style="fill:#fff;"/>
    </svg>

</div>
{% endblock %}
```