    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cantarell:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap">
    <!-- link rel="stylesheet" href="{% static 'bt_thema/css/detail_vorgang.css' %}"-->


 <div class="DetailAnsichtVorgang">
        <div class="DetailAnsichtVorgangBg">
            <div class="TLDR">TLDR
                <div class="TLDR-Text">
                    Now here come some descriptions and some other stuff
                </div>
            </div>
          <div class="column-container">
          <div class="left-column">
            <div class="info-card">
              <p class="card-title"> Initiative der CDU/CSU 
              <p>
                ID 300959
              </p>
              </p>
              <p class="card-id"> ID 300959</p>
              </div>  
            </div>
            
            <div class="right-column">
              <div class="rectangle-headliner">
                <p class="paragraph-headline"> Gesetz zur Novellierung der GeschÄftsbeziehungen im Bankverkehre </p>
                <span class="beschreibung"> However there will surely be more text to write in here so for now there ios nothing else to type</span>

              </div>
              <div class="chronologie-container">
                <div class="chronologie-title">
                  <h1>CHRONOLOGIE</h1>
                  <div class="line"></div>
                </div>
                  <div class="first-entry">
                    <span class="DateName"> 22.06.2023 - Gesetzesentwurf </span>
                    <br>
                    <span class="Drucksache"> 📁 Drucksache 20-7347 </span>
                    <br>
                    <span class="EntryTitle"> Zusammenfassung </span>
                    <br>
                    <span class="EntryText">Ein Urteil des Bundesgerichtshofs (BGH) vom 27. April 2021 hat festgelegt, dass Bankkunden bei Änderungen der Allgemeinen Geschäftsbedingungen (AGB) der Bank ausdrücklich zustimmen müssen. Die bisherige Praxis, bei der Zustimmung als erteilt galt, wenn der Kunde nicht widerspricht (sog. Zustimmungsfiktionsklausel), ist nun unzulässig. Diese Regelung hat viele Folgen im Bankenverkehr hervorgerufen, die als negativ für Bank und Kunde betrachtet werden. 
                    </span>
                    <br>
                    <span class="EntryTitle"> Lösung </span>
                    <br>
                    <span class="EntryText">Der vorgeschlagene Gesetzentwurf möchte es ermöglichen, dass Zustimmungsfiktionen in einer Weise eingeführt werden, die dem Kunden eine Überlegungsfrist bietet, in der er nicht aktiv werden muss. Der Kunde kann selbst entscheiden, ob er aktiv werden möchte. Das Recht zur Kündigung bleibt bestehen, ebenso wie die Inhaltskontrolle der AGB.
                    </span>
                  </div>


              </div>
            </div>
          
          </div>
          
        </div>
    </div>