<div id="chat-container">
    {% include 'chat/chat_message_area.html' %}
    {% include 'chat/chat_input_form.html' %}
</div>
<script>
    document.addEventListener('htmx:afterSwap', () =>
    {
        let messageArea = document.getElementById('message-area');
        // Scroll to the bottom of the message area
        messageArea.scrollTop = messageArea.scrollHeight;
    });
</script>
<script>
    document.body.addEventListener('htmx:configRequest', function(event) {
        var token = sessionStorage.getItem('authToken');
        console.log(token);
        event.detail.headers['Authorization'] = 'Token ' + token;
    });
</script>
