# Domain
# This would be set to the production domain with an env var on deployment
DOMAIN=localhost

# Environment: local, staging, production
ENVIRONMENT=local
LOCAL_LLM=True
LOCAL_LLM_MODEL=llama3.2:latest

PROJECT_NAME='Open Politics Project'
STACK_NAME=opp-stack-dev
WIPE_DB=False # Set to True to wipe the database, useful for development

# Backend
BACKEND_CORS_ORIGINS="http://localhost,http://localhost:5173,https://localhost,https://localhost:3000,http://open-politics.org,https://open-politics.org,https://open-politics.org:80,https://open-politics.org:443"
SECRET_KEY=
FIRST_SUPERUSER=example@example.com
FIRST_SUPERUSER_PASSWORD=example
USERS_OPEN_REGISTRATION=True
OPOL_DEV_MODE=True
OPOL_API_KEY=
OPOL_MODE="container" # remote (opol API) or local (prototyping on localhost)
BACKEND_PORT=8022

# S3-compatible storage/ MiniO (Files, Documents uploaded or ingested into workspace)
MINIO_ENDPOINT=minio:9000
MINIO_HOST=minio
MINIO_PORT=9000
MINIO_ROOT_USER=app_user
MINIO_ROOT_PASSWORD=app_user_password
MINIO_BUCKET=webapp-dev-user-documents
MINIO_REGION=
MINIO_ACCESS_KEY=app_user
MINIO_SECRET_KEY=app_user_password

USE_LOCAL_REDIS=true
LOCAL_REDIS_URL=redis://redis:6379
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

MAPBOX_ACCESS_TOKEN=

# Emails
SMTP_HOST=
SMTP_USER=
SMTP_PASSWORD=
EMAILS_FROM_EMAIL=info@example.com
SMTP_TLS=True
SMTP_SSL=False
SMTP_PORT=587

# Postgres
POSTGRES_SERVER=localhost
POSTGRES_PORT=5433
POSTGRES_DB=opp_app_users
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeThis

SENTRY_DSN=


# Configure these with your own Docker registry images
DOCKER_IMAGE_BACKEND=backend
DOCKER_IMAGE_FRONTEND=frontend

# OpenAI
OPENAI_API_KEY=
GOOGLE_API_KEY=
TAVILY_API_KEY=