# All
venv/
__pycache__
.env
.env.staging
.local_restart_script.sh
.dip-openapi.yaml
test_scripts/
.DS_Store
node_modules/
.vscode
frontend/.env
frontend/.env.local
frontend/.next/
frontend/node_modules/
run_backup.sh
2docker-compose.staging.yml
.idea
