---
openapi: "3.0.1"
info:
  title: "Deutscher Bundestag - DIP"
  description: "API des Dokumentations- und Informationssystems für Parlamentsmaterialien"
  version: "1.2"
  termsOfService: "https://dip.bundestag.de/%C3%BCber-dip/nutzungsbedingungen"
  contact:
    name: "Auskunfts- und Rechercheservice der Parlamentsdokumentation"
    email: "parlamentsdokumentation@bundestag.de"
servers:
- url: "https://search.dip.bundestag.de/api/v1"
security:
- ApiKeyHeader: []
- ApiKeyQuery: []
paths:
  /vorgang:
    get:
      tags:
      - "Vorgänge"
      operationId: "getVorgangList"
      summary: "Liefert eine Liste von Metadaten zu Vorgängen"
      parameters:
      - $ref: "#/components/parameters/AktualisiertStartFilter"
      - $ref: "#/components/parameters/AktualisiertEndFilter"
      - $ref: "#/components/parameters/BeratungsstandFilter"
      - $ref: "#/components/parameters/DatumStartFilter"
      - $ref: "#/components/parameters/DatumEndFilter"
      - $ref: "#/components/parameters/DeskriptorFilter"
      - $ref: "#/components/parameters/DokumentartFilter"
      - $ref: "#/components/parameters/DokumentnummerFilter"
      - $ref: "#/components/parameters/DrucksacheFilter"
      - $ref: "#/components/parameters/DrucksachtypFilter"
      - $ref: "#/components/parameters/FrageNummerFilter"
      - $ref: "#/components/parameters/GestaFilter"
      - $ref: "#/components/parameters/IdFilter"
      - $ref: "#/components/parameters/InitiativeFilter"
      - $ref: "#/components/parameters/PlenarprotokollFilter"
      - $ref: "#/components/parameters/RessortFdfFilter"
      - $ref: "#/components/parameters/SachgebietFilter"
      - $ref: "#/components/parameters/TitelFilter"
      - $ref: "#/components/parameters/UrheberFilter"
      - $ref: "#/components/parameters/VerkuendungFundstelleFilter"
      - $ref: "#/components/parameters/VorgangstypFilter"
      - $ref: "#/components/parameters/VorgangstypNotationFilter"
      - $ref: "#/components/parameters/WahlperiodeFilter"
      - $ref: "#/components/parameters/Cursor"
      - $ref: "#/components/parameters/Format"
      responses:
        "200":
          description: "Liste von Metadaten zu Vorgängen"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VorgangListResponse"
            application/xml:
              schema:
                $ref: "#/components/schemas/VorgangListResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
  /vorgang/{id}:
    get:
      tags:
      - "Vorgänge"
      operationId: "getVorgang"
      summary: "Liefert Metadaten zu einem Vorgang"
      parameters:
      - $ref: "#/components/parameters/Id"
      - $ref: "#/components/parameters/Format"
      responses:
        "200":
          description: "Metadaten eines Vorgangs"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Vorgang"
            application/xml:
              schema:
                $ref: "#/components/schemas/Vorgang"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
  /vorgangsposition:
    get:
      tags:
      - "Vorgangspositionen"
      operationId: "getVorgangspositionList"
      summary: "Liefert eine Liste von Metadaten zu Vorgangspositionen"
      parameters:
      - $ref: "#/components/parameters/AktivitaetFilter"
      - $ref: "#/components/parameters/AktualisiertStartFilter"
      - $ref: "#/components/parameters/AktualisiertEndFilter"
      - $ref: "#/components/parameters/DatumStartFilter"
      - $ref: "#/components/parameters/DatumEndFilter"
      - $ref: "#/components/parameters/DokumentartFilter"
      - $ref: "#/components/parameters/DokumentnummerFilter"
      - $ref: "#/components/parameters/DrucksacheFilter"
      - $ref: "#/components/parameters/DrucksachtypFilter"
      - $ref: "#/components/parameters/FrageNummerFilter"
      - $ref: "#/components/parameters/IdFilter"
      - $ref: "#/components/parameters/PlenarprotokollFilter"
      - $ref: "#/components/parameters/RessortFdfFilter"
      - $ref: "#/components/parameters/TitelFilter"
      - $ref: "#/components/parameters/UrheberFilter"
      - $ref: "#/components/parameters/VorgangFilter"
      - $ref: "#/components/parameters/VorgangstypFilter"
      - $ref: "#/components/parameters/VorgangstypNotationFilter"
      - $ref: "#/components/parameters/WahlperiodeFilter"
      - $ref: "#/components/parameters/ZuordnungFilter"
      - $ref: "#/components/parameters/Cursor"
      - $ref: "#/components/parameters/Format"
      responses:
        "200":
          description: "Metadaten zu Vorgangspositionen"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VorgangspositionListResponse"
            application/xml:
              schema:
                $ref: "#/components/schemas/VorgangspositionListResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
  /vorgangsposition/{id}:
    get:
      tags:
      - "Vorgangspositionen"
      operationId: "getVorgangsposition"
      summary: "Liefert Metadaten zu einer Vorgangsposition"
      parameters:
      - $ref: "#/components/parameters/Id"
      - $ref: "#/components/parameters/Format"
      responses:
        "200":
          description: "Metadaten einer Vorgangsposition"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Vorgangsposition"
            application/xml:
              schema:
                $ref: "#/components/schemas/Vorgangsposition"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
  /drucksache:
    get:
      tags:
      - "Drucksachen"
      operationId: "getDrucksacheList"
      summary: "Liefert eine Liste von Metadaten zu Drucksachen"
      parameters:
      - $ref: "#/components/parameters/AktualisiertStartFilter"
      - $ref: "#/components/parameters/AktualisiertEndFilter"
      - $ref: "#/components/parameters/DatumStartFilter"
      - $ref: "#/components/parameters/DatumEndFilter"
      - $ref: "#/components/parameters/DokumentnummerFilter"
      - $ref: "#/components/parameters/DrucksachtypFilter"
      - $ref: "#/components/parameters/IdFilter"
      - $ref: "#/components/parameters/RessortFdfFilter"
      - $ref: "#/components/parameters/TitelFilter"
      - $ref: "#/components/parameters/UrheberFilter"
      - $ref: "#/components/parameters/VorgangstypFilter"
      - $ref: "#/components/parameters/VorgangstypNotationFilter"
      - $ref: "#/components/parameters/WahlperiodeFilter"
      - $ref: "#/components/parameters/ZuordnungFilter"
      - $ref: "#/components/parameters/Cursor"
      - $ref: "#/components/parameters/Format"
      responses:
        "200":
          description: "Metadaten zu Drucksachen"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DrucksacheListResponse"
            application/xml:
              schema:
                $ref: "#/components/schemas/DrucksacheListResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
  /drucksache/{id}:
    get:
      tags:
      - "Drucksachen"
      operationId: "getDrucksache"
      summary: "Liefert Metadaten zu einer Drucksache"
      parameters:
      - $ref: "#/components/parameters/Id"
      - $ref: "#/components/parameters/Format"
      responses:
        "200":
          description: "Metadaten einer Drucksache"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Drucksache"
            application/xml:
              schema:
                $ref: "#/components/schemas/Drucksache"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
  /drucksache-text:
    get:
      tags:
      - "Drucksachen"
      operationId: "getDrucksacheTextList"
      summary: "Liefert eine Liste von Volltexten und Metadaten zu Drucksachen"
      parameters:
      - $ref: "#/components/parameters/AktualisiertStartFilter"
      - $ref: "#/components/parameters/AktualisiertEndFilter"
      - $ref: "#/components/parameters/DatumStartFilter"
      - $ref: "#/components/parameters/DatumEndFilter"
      - $ref: "#/components/parameters/DokumentnummerFilter"
      - $ref: "#/components/parameters/DrucksachtypFilter"
      - $ref: "#/components/parameters/IdFilter"
      - $ref: "#/components/parameters/RessortFdfFilter"
      - $ref: "#/components/parameters/TitelFilter"
      - $ref: "#/components/parameters/UrheberFilter"
      - $ref: "#/components/parameters/VorgangstypFilter"
      - $ref: "#/components/parameters/VorgangstypNotationFilter"
      - $ref: "#/components/parameters/WahlperiodeFilter"
      - $ref: "#/components/parameters/ZuordnungFilter"
      - $ref: "#/components/parameters/Cursor"
      - $ref: "#/components/parameters/Format"
      responses:
        "200":
          description: "Volltext und Metadaten zu Drucksachen"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DrucksacheTextListResponse"
            application/xml:
              schema:
                $ref: "#/components/schemas/DrucksacheTextListResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
  /drucksache-text/{id}:
    get:
      tags:
      - "Drucksachen"
      operationId: "getDrucksacheText"
      summary: "Liefert Volltext und Metadaten zu einer Drucksache"
      parameters:
      - $ref: "#/components/parameters/Id"
      - $ref: "#/components/parameters/Format"
      responses:
        "200":
          description: "Volltext und Metadaten einer Drucksache"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DrucksacheText"
            application/xml:
              schema:
                $ref: "#/components/schemas/DrucksacheText"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
  /plenarprotokoll:
    get:
      tags:
      - "Plenarprotokolle"
      operationId: "getPlenarprotokollList"
      summary: "Liefert eine Liste von Metadaten zu Plenarprotokollen"
      parameters:
      - $ref: "#/components/parameters/AktualisiertStartFilter"
      - $ref: "#/components/parameters/AktualisiertEndFilter"
      - $ref: "#/components/parameters/DatumStartFilter"
      - $ref: "#/components/parameters/DatumEndFilter"
      - $ref: "#/components/parameters/DokumentnummerFilter"
      - $ref: "#/components/parameters/IdFilter"
      - $ref: "#/components/parameters/VorgangstypFilter"
      - $ref: "#/components/parameters/VorgangstypNotationFilter"
      - $ref: "#/components/parameters/WahlperiodeFilter"
      - $ref: "#/components/parameters/ZuordnungFilter"
      - $ref: "#/components/parameters/Cursor"
      - $ref: "#/components/parameters/Format"
      responses:
        "200":
          description: "Metadaten zu Plenarprotokollen"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlenarprotokollListResponse"
            application/xml:
              schema:
                $ref: "#/components/schemas/PlenarprotokollListResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
  /plenarprotokoll/{id}:
    get:
      tags:
      - "Plenarprotokolle"
      operationId: "getPlenarprotokoll"
      summary: "Liefert Metadaten zu einem Plenarprotokoll"
      parameters:
      - $ref: "#/components/parameters/Id"
      - $ref: "#/components/parameters/Format"
      responses:
        "200":
          description: "Metadaten eines Plenarprotokolls"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Plenarprotokoll"
            application/xml:
              schema:
                $ref: "#/components/schemas/Plenarprotokoll"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
  /plenarprotokoll-text:
    get:
      tags:
      - "Plenarprotokolle"
      operationId: "getPlenarprotokollTextList"
      summary: "Liefert eine Liste von Volltexten und Metadaten zu Plenarprotokollen"
      parameters:
      - $ref: "#/components/parameters/AktualisiertStartFilter"
      - $ref: "#/components/parameters/AktualisiertEndFilter"
      - $ref: "#/components/parameters/DatumStartFilter"
      - $ref: "#/components/parameters/DatumEndFilter"
      - $ref: "#/components/parameters/DokumentnummerFilter"
      - $ref: "#/components/parameters/IdFilter"
      - $ref: "#/components/parameters/VorgangstypFilter"
      - $ref: "#/components/parameters/VorgangstypNotationFilter"
      - $ref: "#/components/parameters/WahlperiodeFilter"
      - $ref: "#/components/parameters/ZuordnungFilter"
      - $ref: "#/components/parameters/Cursor"
      - $ref: "#/components/parameters/Format"
      responses:
        "200":
          description: "Volltext und Metadaten zu Plenarprotokollen"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlenarprotokollTextListResponse"
            application/xml:
              schema:
                $ref: "#/components/schemas/PlenarprotokollTextListResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
  /plenarprotokoll-text/{id}:
    get:
      tags:
      - "Plenarprotokolle"
      operationId: "getPlenarprotokollText"
      summary: "Liefert Volltext und Metadaten zu einem Plenarprotokoll"
      parameters:
      - $ref: "#/components/parameters/Id"
      - $ref: "#/components/parameters/Format"
      responses:
        "200":
          description: "Volltext und Metadaten eines Plenarprotokolls"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlenarprotokollText"
            application/xml:
              schema:
                $ref: "#/components/schemas/PlenarprotokollText"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
  /aktivitaet:
    get:
      tags:
      - "Aktivitäten"
      operationId: "getAktivitaetList"
      summary: "Liefert eine Liste von Metadaten zu Aktivitäten"
      parameters:
      - $ref: "#/components/parameters/AktualisiertStartFilter"
      - $ref: "#/components/parameters/AktualisiertEndFilter"
      - $ref: "#/components/parameters/DatumStartFilter"
      - $ref: "#/components/parameters/DatumEndFilter"
      - $ref: "#/components/parameters/DeskriptorFilter"
      - $ref: "#/components/parameters/DokumentartFilter"
      - $ref: "#/components/parameters/DokumentnummerFilter"
      - $ref: "#/components/parameters/DrucksacheFilter"
      - $ref: "#/components/parameters/DrucksachtypFilter"
      - $ref: "#/components/parameters/FrageNummerFilter"
      - $ref: "#/components/parameters/IdFilter"
      - $ref: "#/components/parameters/PlenarprotokollFilter"
      - $ref: "#/components/parameters/SachgebietFilter"
      - $ref: "#/components/parameters/UrheberFilter"
      - $ref: "#/components/parameters/VorgangstypFilter"
      - $ref: "#/components/parameters/VorgangstypNotationFilter"
      - $ref: "#/components/parameters/WahlperiodeFilter"
      - $ref: "#/components/parameters/ZuordnungFilter"
      - $ref: "#/components/parameters/Cursor"
      - $ref: "#/components/parameters/Format"
      responses:
        "200":
          description: "Metadaten zu Aktivitäten"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AktivitaetListResponse"
            application/xml:
              schema:
                $ref: "#/components/schemas/AktivitaetListResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
  /aktivitaet/{id}:
    get:
      tags:
      - "Aktivitäten"
      operationId: "getAktivitaet"
      summary: "Liefert Metadaten zu einer Aktivität"
      parameters:
      - $ref: "#/components/parameters/Id"
      - $ref: "#/components/parameters/Format"
      responses:
        "200":
          description: "Metadaten einer Aktivität"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Aktivitaet"
            application/xml:
              schema:
                $ref: "#/components/schemas/Aktivitaet"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
  /person:
    get:
      tags:
      - "Personenstammdaten"
      operationId: "getPersonList"
      summary: "Liefert eine Liste von Personenstammdaten"
      parameters:
      - $ref: "#/components/parameters/AktualisiertStartFilter"
      - $ref: "#/components/parameters/AktualisiertEndFilter"
      - $ref: "#/components/parameters/DatumStartFilter"
      - $ref: "#/components/parameters/DatumEndFilter"
      - $ref: "#/components/parameters/IdFilter"
      - $ref: "#/components/parameters/WahlperiodeFilter"
      - $ref: "#/components/parameters/Cursor"
      - $ref: "#/components/parameters/Format"
      responses:
        "200":
          description: "Personenstammdaten"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PersonListResponse"
            application/xml:
              schema:
                $ref: "#/components/schemas/PersonListResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
  /person/{id}:
    get:
      tags:
      - "Personenstammdaten"
      operationId: "getPerson"
      summary: "Liefert Personenstammdaten zu einer Person"
      parameters:
      - $ref: "#/components/parameters/Id"
      - $ref: "#/components/parameters/Format"
      responses:
        "200":
          description: "Personenstammdaten"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Person"
            application/xml:
              schema:
                $ref: "#/components/schemas/Person"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
components:
  securitySchemes:
    ApiKeyHeader:
      type: "apiKey"
      in: "header"
      name: "Authorization"
      description: "Beispiel: *ApiKey rgsaY4U.oZRQKUHdJhF9qguHMkwCGIoLaqEcaHjYLF*\n"
    ApiKeyQuery:
      type: "apiKey"
      in: "query"
      name: "apikey"
      description: "Beispiel: *rgsaY4U.oZRQKUHdJhF9qguHMkwCGIoLaqEcaHjYLF*\n"
  parameters:
    Id:
      name: "id"
      in: "path"
      required: true
      schema:
        type: "integer"
      example: 1
    AktivitaetFilter:
      name: "f.aktivitaet"
      in: "query"
      schema:
        type: "integer"
      description: "ID einer verknüpften Aktivität\n\nSelektiert alle Entitäten, die\
        \ mit der angegebenen Aktivität verknüpft sind.\n"
    DatumStartFilter:
      name: "f.datum.start"
      in: "query"
      schema:
        $ref: "#/components/schemas/Datum"
      description: "Frühestes Datum der Entität\n\nSelektiert Entitäten in einem Datumsbereich\
        \ basierend auf dem Dokumentdatum. Für Vorgänge und Personen wird der Datumsbereich\
        \ aller zugehörigen Dokumente herangezogen.\n"
      examples:
        empty:
          summary: "--"
          value: ""
        start:
          summary: "Dokumentdatum ab 11.01.2021"
          value: "2021-01-11"
    DatumEndFilter:
      name: "f.datum.end"
      in: "query"
      schema:
        $ref: "#/components/schemas/Datum"
      description: "Spätestes Datum der Entität\n\nSelektiert Entitäten in einem Datumsbereich\
        \ basierend auf dem Dokumentdatum. Für Vorgänge und Personen wird der Datumsbereich\
        \ aller zugehörigen Dokumente herangezogen.\n"
      examples:
        empty:
          summary: "--"
          value: ""
        end:
          summary: "Dokumentdatum bis einschließlich 15.01.2021"
          value: "2021-01-15"
    AktualisiertStartFilter:
      name: "f.aktualisiert.start"
      in: "query"
      schema:
        type: "string"
        format: "date-time"
      description: "Frühestes Aktualisierungsdatum der Entität\n\nSelektiert Entitä\
        ten in einem Datumsbereich basierend auf dem letzten Aktualisierungsdatum.\n"
      examples:
        empty:
          summary: "--"
          value: ""
        start:
          summary: "Aktualisierungen seit 06.12.2022 10:00 (Ortszeit Berlin)"
          value: "2022-12-06T10:00:00"
        startTimezone:
          summary: "Aktualisierungen seit 06.12.2022 10:00 (mit Zeitzone)"
          value: "2022-12-06T10:00:00+02:00"
    AktualisiertEndFilter:
      name: "f.aktualisiert.end"
      in: "query"
      schema:
        type: "string"
        format: "date-time"
      description: "Spätestes Aktualisierungsdatum der Entität\n\nSelektiert Entitä\
        ten in einem Datumsbereich basierend auf dem letzten Aktualisierungsdatum.\n"
      examples:
        empty:
          summary: "--"
          value: ""
        end:
          summary: "Aktualisierungen bis 06.12.2022 20:00 (Ortszeit Berlin)"
          value: "2022-12-06T20:00:00"
        endTimezone:
          summary: "Aktualisierungen bis 06.12.2022 20:00 (mit Zeitzone)"
          value: "2022-12-06T20:00:00+02:00"
    WahlperiodeFilter:
      name: "f.wahlperiode"
      in: "query"
      schema:
        type: "array"
        items:
          type: "integer"
      description: "Nummer der Wahlperiode\n\nSelektiert alle Entitäten, die der angegebenen\
        \ Wahlperiode zugeordnet sind.\nKann wiederholt werden, um mehrere Wahlperioden\
        \ zu selektieren. Hinterlegt ist eine ODER-Suche.\n"
    DrucksacheFilter:
      name: "f.drucksache"
      in: "query"
      schema:
        type: "integer"
      description: "ID einer verknüpften Drucksache\n\nSelektiert alle Entitäten,\
        \ die mit der angegebenen Drucksache verknüpft sind.\n"
    IdFilter:
      name: "f.id"
      in: "query"
      schema:
        type: "array"
        items:
          type: "integer"
      description: "ID der Entität\n\nKann wiederholt werden, um mehrere Entitäten\
        \ zu selektieren.\n"
    PlenarprotokollFilter:
      name: "f.plenarprotokoll"
      in: "query"
      schema:
        type: "integer"
      description: "ID eines verknüpften Plenarprotokolls\n\nSelektiert alle Entitä\
        ten, die mit dem angegebenen Plenarprotokoll verknüpft sind.\n"
    VorgangFilter:
      name: "f.vorgang"
      in: "query"
      schema:
        type: "integer"
      description: "ID eines verknüpften Vorgangs\n\nSelektiert alle Entitäten, die\
        \ mit dem angegebenen Vorgang verknüpft sind.\n"
    DokumentnummerFilter:
      name: "f.dokumentnummer"
      in: "query"
      schema:
        type: "array"
        items:
          type: "string"
          example: ""
      description: "Dokumentnummer einer Drucksache oder eines Plenarprotokolls\n\n\
        Selektiert alle Entitäten, die mit der angegebenen Dokumentnummer verknüpft\
        \ sind.\nKann wiederholt werden, um mehrere Dokumentnummern zu selektieren.\
        \ Hinterlegt ist eine ODER-Suche.\n"
    DokumentartFilter:
      name: "f.dokumentart"
      in: "query"
      schema:
        type: "string"
        enum:
        - "Drucksache"
        - "Plenarprotokoll"
      description: "Drucksache oder Plenarprotokoll\n\nSelektiert alle Entitäten,\
        \ die mit der angegebenen Dokumentart verknüpft sind.\n"
    DrucksachtypFilter:
      name: "f.drucksachetyp"
      in: "query"
      schema:
        type: "string"
      description: "Typ der Drucksache\n\nSelektiert alle Entitäten, die mit dem angegebenen\
        \ Drucksachetyp verknüpft sind.\n"
      examples:
        none:
          summary: "--"
          value: ""
        single:
          summary: "Antrag"
          value: "Antrag"
    FrageNummerFilter:
      name: "f.frage_nummer"
      in: "query"
      schema:
        type: "array"
        items:
          type: "string"
          example: ""
      description: "Fragenummer/Listenziffer\n\nSelektiert alle Entitäten, die mit\
        \ der angegebenen Fragenummer in einer Drucksache verknüpft sind.\nKann wiederholt\
        \ werden, um mehrere Fragenummern zu selektieren. Hinterlegt ist eine ODER-Suche.\n"
      examples:
        none:
          summary: "--"
          value: ""
        single:
          summary: "C.4"
          value:
          - "C.4"
    GestaFilter:
      name: "f.gesta"
      in: "query"
      schema:
        type: "array"
        items:
          type: "string"
          example: ""
      description: "GESTA-Ordnungsnummer\n\nSelektiert alle Entitäten, die der angegebenen\
        \ GESTA-Ordnungsnummer zugeordnet sind.\nKann wiederholt werden, um mehrere\
        \ Ordnungsnummern zu selektieren. Hinterlegt ist eine ODER-Suche.\n"
      examples:
        none:
          summary: "--"
          value: ""
        single:
          summary: "B101"
          value:
          - "B101"
    VorgangstypFilter:
      name: "f.vorgangstyp"
      in: "query"
      schema:
        type: "array"
        items:
          type: "string"
          example: ""
      description: "Vorgangstyp\n\nSelektiert alle Entitäten, die dem angegebenen\
        \ Vorgangstyp zugeordnet sind.\nKann wiederholt werden, um mehrere Vorgangstypen\
        \ zu selektieren. Hinterlegt ist eine ODER-Suche.\n"
      examples:
        none:
          summary: "--"
          value: ""
        single:
          summary: "Gesetzgebung"
          value:
          - "Gesetzgebung"
    VorgangstypNotationFilter:
      name: "f.vorgangstyp_notation"
      in: "query"
      schema:
        type: "array"
        items:
          type: "integer"
      description: "Vorgangstyp-Notation\n\nSelektiert alle Entitäten, die der angegebenen\
        \ Vorgangstyp-Notation zugeordnet sind.\nKann wiederholt werden, um mehrere\
        \ Vorgangstypen zu selektieren. Hinterlegt ist eine ODER-Suche.\n"
      examples:
        none:
          summary: "--"
          value: ""
        single:
          summary: "100 (Gesetzgebung)"
          value:
          - 100
    BeratungsstandFilter:
      name: "f.beratungsstand"
      in: "query"
      schema:
        type: "array"
        items:
          type: "string"
          example: ""
      description: "Beratungsstand\n\nSelektiert alle Entitäten, die dem angegebenen\
        \ Beratungsstand zugeordnet sind.\nKann wiederholt werden, um mehrere Beratungsstä\
        nde zu selektieren. Hinterlegt ist eine ODER-Suche.\n"
      examples:
        none:
          summary: "--"
          value: ""
        single:
          summary: "Verkündet"
          value:
          - "Verkündet"
    VerkuendungFundstelleFilter:
      name: "f.verkuendung_fundstelle"
      in: "query"
      schema:
        type: "array"
        items:
          type: "string"
          example: ""
      description: "Fundstelle der Verkündung\n\nSelektiert alle Entitäten, welche\
        \ den angegebenen Suchbegriff in der Fundstelle der Verkündung enthalten.\n\
        Kann wiederholt werden, um mehrere Fundstellen zu selektieren. Hinterlegt\
        \ ist eine ODER-Suche. Eine Einzelwortsuche (z.B. nach dem Verkündungsblatt)\
        \ ist möglich.\n"
      examples:
        none:
          summary: "--"
          value: ""
        fundstelle:
          summary: "BGBl I 2023, 71"
          value:
          - "BGBl I 2023, 71"
        bgbl:
          summary: "BGBl I"
          value:
          - "BGBl I"
    InitiativeFilter:
      name: "f.initiative"
      in: "query"
      schema:
        type: "array"
        items:
          type: "string"
          example: ""
      description: "Initiative\n\nSelektiert alle Entitäten, die mit dem angegebenen\
        \ Urheber im Basisdokument verknüpft sind.\nKann wiederholt werden, um die\
        \ Schnittmenge mehrerer Initianten zu selektieren. Hinterlegt ist eine UND-Suche.\
        \ \nEine ODER-Suche über mehrere Initianten ist mit einer einzigen Abfrage\
        \ nicht möglich. Die Initianten müssen dazu einzeln abgefragt werden.\n"
      examples:
        none:
          summary: "--"
          value: ""
        single:
          summary: "Bundesregierung"
          value:
          - "Bundesregierung"
        multiple:
          summary: "Fraktion der SPD UND Fraktion Bündnis 90/Die Grünen"
          value:
          - "Fraktion der SPD"
          - "Fraktion Bündnis 90/Die Grünen"
    RessortFdfFilter:
      name: "f.ressort_fdf"
      in: "query"
      schema:
        type: "array"
        items:
          type: "string"
          example: ""
      description: "Ressort (federführend)\n\nSelektiert alle Entitäten, die mit dem\
        \ angegebenen federführenden Ressort in einer Drucksache verknüpft sind.\n\
        Kann wiederholt werden, um die Schnittmenge mehrerer Ressorts zu selektieren.\
        \ Hinterlegt ist eine UND-Suche. \nEine ODER-Suche über mehrere federführende\
        \ Ressorts ist mit einer einzigen Abfrage nicht möglich. Die federführenden\
        \ Ressorts müssen dazu einzeln abgefragt werden.\n"
      examples:
        none:
          summary: "--"
          value: ""
        single:
          summary: "Bundesministerium für Gesundheit"
          value:
          - "Bundesministerium für Gesundheit"
        multiple:
          summary: "Bundesministerium für Gesundheit UND Bundesministerium für Arbeit\
            \ und Soziales"
          value:
          - "Bundesministerium für Gesundheit"
          - "Bundesministerium für Arbeit und Soziales"
    DeskriptorFilter:
      name: "f.deskriptor"
      in: "query"
      schema:
        type: "array"
        items:
          type: "string"
          example: ""
      description: "Deskriptor\n\nSelektiert alle Entitäten, die mit dem angegebenen\
        \ Deskriptor verknüpft sind.\nKann wiederholt werden, um die Schnittmenge\
        \ mehrerer Deskriptoren zu selektieren. Hinterlegt ist eine UND-Suche. \n\
        Eine ODER-Suche über mehrere Deskriptoren ist mit einer einzigen Abfrage nicht\
        \ möglich. Die Deskriptoren müssen dazu einzeln abgefragt werden.\n"
      examples:
        none:
          summary: "--"
          value: ""
        single:
          summary: "Klimaschutz"
          value:
          - "Klimaschutz"
        multiple:
          summary: "Klimaschutz UND Windenergieanlage"
          value:
          - "Klimaschutz"
          - "Windenergieanlage"
    SachgebietFilter:
      name: "f.sachgebiet"
      in: "query"
      schema:
        type: "array"
        items:
          type: "string"
          example: ""
      description: "Sachgebiet\n\nSelektiert alle Entitäten, die mit dem angegebenen\
        \ Sachgebiet verknüpft sind.\nKann wiederholt werden, um die Schnittmenge\
        \ mehrerer Sachgebiete zu selektieren. Hinterlegt ist eine UND-Suche. \nEine\
        \ ODER-Suche über mehrere Sachgebiete ist mit einer einzigen Abfrage nicht\
        \ möglich. Die Sachgebiete müssen dazu einzeln abgefragt werden.\n"
      examples:
        none:
          summary: "--"
          value: ""
        single:
          summary: "Innere Sicherheit"
          value:
          - "Innere Sicherheit"
        multiple:
          summary: "Innere Sicherheit UND Staat und Verwaltung"
          value:
          - "Innere Sicherheit"
          - "Staat und Verwaltung"
    TitelFilter:
      name: "f.titel"
      in: "query"
      schema:
        type: "array"
        items:
          type: "string"
          example: ""
      description: "Titel\n\nSelektiert alle Entitäten, die den angegebenen Suchbegriff\
        \ im Titel enthalten.\nKann wiederholt werden, um mehrere Titel zu selektieren.\
        \ Hinterlegt ist eine ODER-Suche.\nEine Einzelwortsuche ist möglich. Mehrere\
        \ Suchbegriffe hintereinander werden als Phrase gesucht.\n"
      examples:
        none:
          summary: "--"
          value: ""
        single:
          summary: "Veröffentlichung von Spenden, die im Einzelfall die Höhe von 50\
            \ 000 Euro übersteigen"
          value:
          - "Veröffentlichung von Spenden, die im Einzelfall die Höhe von 50 000 Euro\
            \ übersteigen"
        multiple:
          summary: "Pflegehilfe ODER Pflegesatz"
          value:
          - "Pflegehilfe"
          - "Pflegesatz"
    UrheberFilter:
      name: "f.urheber"
      in: "query"
      schema:
        type: "array"
        items:
          type: "string"
          example: ""
      description: "Urheber\n\nSelektiert alle Entitäten, die mit dem angegebenen\
        \ Urheber in einer Drucksache verknüpft sind.\nKann wiederholt werden, um\
        \ die Schnittmenge mehrerer Urheber zu selektieren. Hinterlegt ist eine UND-Suche.\
        \ \nEine ODER-Suche über mehrere Urheber ist mit einer einzigen Abfrage nicht\
        \ möglich. Die Urheber müssen dazu einzeln abgefragt werden.\n"
      examples:
        none:
          summary: "--"
          value: ""
        single:
          summary: "Bundesregierung"
          value:
          - "Bundesregierung"
        multiple:
          summary: "Fraktion der SPD UND Fraktion Bündnis 90/Die Grünen"
          value:
          - "Fraktion der SPD"
          - "Fraktion Bündnis 90/Die Grünen"
    ZuordnungFilter:
      name: "f.zuordnung"
      in: "query"
      schema:
        $ref: "#/components/schemas/Zuordnung"
      description: "Zuordnung der Entität zum Bundestag, Bundesrat, Bundesversammlung\
        \ oder Europakammer"
    Format:
      name: "format"
      in: "query"
      schema:
        type: "string"
        enum:
        - "json"
        - "xml"
        default: "json"
      description: "Steuert das Datenformat der Antwort, möglich sind JSON (voreingestellt)\
        \ oder XML."
    Cursor:
      name: "cursor"
      in: "query"
      schema:
        type: "string"
      description: "Position des Cursors zur Anfrage weiterer Entitäten\n\nÜbersteigt\
        \ die Anzahl der gefundenen Entitäten das jeweilige Limit, muss eine Folgeanfrage\
        \ gestellt werden, um weitere Entitäten zu laden.\nEine Folgeanfrage wird\
        \ gebildet, indem alle Parameter der ursprünglichen Anfrage wiederholt werden\
        \ und zusätzlich der cursor Parameter der letzten Antwort eingesetzt wird.\n\
        Es können solange Folgeanfragen gestellt werden, bis sich der cursor nicht\
        \ mehr ändert. Dies signalisiert, dass alle Entitäten geladen wurden.\n"
  responses:
    BadRequestResponse:
      description: "Syntaxfehler in einem der Anfrageparameter"
      content:
        application/json:
          schema:
            type: "object"
            properties:
              code:
                type: "integer"
                enum:
                - 400
              message:
                type: "string"
                example: "Invalid cursor"
            required:
            - "code"
            - "message"
    UnauthorizedResponse:
      description: "Ein gültiger API-Key ist für alle Anfragen erforderlich. Dieser\
        \ kann entweder im HTTP Authorization Header oder als Anfrageparameter apikey\
        \ gesendet werden."
      content:
        application/json:
          schema:
            type: "object"
            properties:
              code:
                type: "integer"
                enum:
                - 401
              message:
                type: "string"
                enum:
                - "An API key is required to access this service. Please refer to\
                  \ https://dip.bundestag.de/über-dip/hilfe/api how to apply for a\
                  \ key. Misuse of this service may lead to blocking your requests."
            required:
            - "code"
            - "message"
    NotFoundResponse:
      description: "Die angefragte Entität wurde nicht gefunden"
      content:
        application/json:
          schema:
            type: "object"
            properties:
              code:
                type: "integer"
                enum:
                - 404
              message:
                type: "string"
                example: "ID not found: 0"
            required:
            - "code"
            - "message"
  schemas:
    ListResponseBase:
      type: "object"
      xml:
        name: "response"
      properties:
        numFound:
          type: "integer"
          format: "int32"
          example: 176
        cursor:
          type: "string"
          example: "AoJwgNjC_PYCMURydWNrc2FjaGUtMjQ5MjYw"
      required:
      - "numFound"
      - "cursor"
    VorgangListResponse:
      allOf:
      - $ref: "#/components/schemas/ListResponseBase"
      - type: "object"
        properties:
          documents:
            type: "array"
            items:
              $ref: "#/components/schemas/Vorgang"
            minItems: 0
            maxItems: 100
        required:
        - "documents"
    VorgangspositionListResponse:
      allOf:
      - $ref: "#/components/schemas/ListResponseBase"
      - type: "object"
        properties:
          documents:
            type: "array"
            items:
              $ref: "#/components/schemas/Vorgangsposition"
            minItems: 0
            maxItems: 100
        required:
        - "documents"
    PlenarprotokollListResponse:
      allOf:
      - $ref: "#/components/schemas/ListResponseBase"
      - type: "object"
        properties:
          documents:
            type: "array"
            items:
              $ref: "#/components/schemas/Plenarprotokoll"
            minItems: 0
            maxItems: 100
        required:
        - "documents"
    DrucksacheListResponse:
      allOf:
      - $ref: "#/components/schemas/ListResponseBase"
      - type: "object"
        properties:
          documents:
            type: "array"
            items:
              $ref: "#/components/schemas/Drucksache"
            minItems: 0
            maxItems: 100
        required:
        - "documents"
    PlenarprotokollTextListResponse:
      allOf:
      - $ref: "#/components/schemas/ListResponseBase"
      - type: "object"
        properties:
          documents:
            type: "array"
            items:
              $ref: "#/components/schemas/PlenarprotokollText"
            minItems: 0
            maxItems: 10
        required:
        - "documents"
    DrucksacheTextListResponse:
      allOf:
      - $ref: "#/components/schemas/ListResponseBase"
      - type: "object"
        properties:
          documents:
            type: "array"
            items:
              $ref: "#/components/schemas/DrucksacheText"
            minItems: 0
            maxItems: 10
        required:
        - "documents"
    AktivitaetListResponse:
      allOf:
      - $ref: "#/components/schemas/ListResponseBase"
      - type: "object"
        properties:
          documents:
            type: "array"
            items:
              $ref: "#/components/schemas/Aktivitaet"
            minItems: 0
            maxItems: 100
        required:
        - "documents"
    PersonListResponse:
      allOf:
      - $ref: "#/components/schemas/ListResponseBase"
      - type: "object"
        properties:
          documents:
            type: "array"
            items:
              $ref: "#/components/schemas/Person"
            minItems: 0
            maxItems: 100
        required:
        - "documents"
    Vorgang:
      description: "Liefert Metadaten zu einem Vorgang."
      type: "object"
      xml:
        name: "document"
      properties:
        id:
          type: "string"
          pattern: "^\\d+$"
          example: 84343
        typ:
          type: "string"
          enum:
          - "Vorgang"
          example: "Vorgang"
        beratungsstand:
          type: "string"
          example: "Abgeschlossen"
        vorgangstyp:
          type: "string"
          example: "Geschäftsordnung"
        wahlperiode:
          type: "integer"
          format: "int32"
          example: 19
        initiative:
          type: "array"
          items:
            type: "string"
            example: "Fraktion der CDU/CSU"
        datum:
          type: "string"
          format: "date"
          example: "2019-03-27"
          description: "Datierung des letzten zugehörigen Dokuments"
        aktualisiert:
          type: "string"
          format: "date-time"
          example: "2022-08-01T15:30:16+02:00"
          description: "Letzte Aktualisierung der Entität"
        titel:
          type: "string"
          example: "Weitergeltung von Geschäftsordnungsrecht"
        abstract:
          type: "string"
          example: "Übernahme von Geschäftsordnungen durch den 19. Deutschen Bundestag:\
            \ Geschäftsordnung des Deutschen Bundestages, Gemeinsame Geschäftsordnung\
            \ für den Vermittlungsausschuss, Geschäftsordnung für den Gemeinsamen\
            \ Ausschuss, Geschäftsordnung für das Verfahren nach Art. 115d GG, Richtlinien\
            \ zur Überprüfung auf eine Stasi-Tätigkeit"
        sachgebiet:
          type: "array"
          items:
            type: "string"
            example: "Bundestag"
        deskriptor:
          type: "array"
          items:
            $ref: "#/components/schemas/VorgangDeskriptor"
        gesta:
          type: "string"
          example: "B101"
          description: "GESTA-Ordnungsnummer"
        zustimmungsbeduerftigkeit:
          type: "array"
          items:
            type: "string"
            example: "Nein, laut Verkündung (BGBl I)"
        kom:
          type: "string"
          example: "(2017) 600 endg."
          description: "KOM-Nr."
        ratsdok:
          type: "string"
          example: "11018/17"
          description: "Ratsdok-Nr."
        verkuendung:
          type: "array"
          items:
            $ref: "#/components/schemas/Verkuendung"
        inkrafttreten:
          type: "array"
          items:
            $ref: "#/components/schemas/Inkrafttreten"
        archiv:
          type: "string"
          example: "XIX/288"
          description: "Archivsignatur"
        mitteilung:
          type: "string"
          example: "Tag des Inkrafttretens bestimmter Teile des Gesetzes wird durch\
            \ das BMI im BGBl bekanntgemacht, weiteres siehe im BGBl"
        vorgang_verlinkung:
          type: "array"
          items:
            $ref: "#/components/schemas/VorgangVerlinkung"
        sek:
          type: "string"
          example: "(2010) 305 endg."
          description: "SEK-Nr."
      required:
      - "id"
      - "typ"
      - "vorgangstyp"
      - "wahlperiode"
      - "aktualisiert"
      - "titel"
    Vorgangsposition:
      description: "Liefert Metadaten zu einer Vorgangsposition (Vorgangsschritt)."
      type: "object"
      xml:
        name: "document"
      properties:
        id:
          type: "string"
          pattern: "^\\d+$"
          example: 173376
        vorgangsposition:
          type: "string"
          example: "Antrag zur Weitergeltung der Geschäftsordnung"
        zuordnung:
          $ref: "#/components/schemas/Zuordnung"
        gang:
          type: "boolean"
          description: "Alle Vorgangsschritte, die von besonderer Bedeutung für den\
            \ Fortgang der Beratung sind, werden durch das Attribut `gang: true` gekennzeichnet.\n\
            \nIst ein solcher Vorgangsschritt mit einer Drucksache verknüpft, werden\
            \ im Frontend unter der Benennung \"Wichtige Drucksachen\" Herausgeber,\
            \ Nummer und Typ sowie das Datum der entsprechenden Drucksachen ausgegeben\
            \ (z.B. BT-Drs 18/13014 (Beschlussempfehlung), 28.06.2017). \nIst er mit\
            \ einem Plenarprotokoll verknüpft, werden im Frontend unter der Benennung\
            \ \"Plenum\" der Klartext der Vorgangsposition, Datum, Herausgeber und\
            \ Nummer des Plenarprotokolls mit Anfangsseite/Quadrant und Endseite/Quadrant\
            \ dargestellt (z.B. 2. Beratung: 29.06.2017, BT-PlPr 18/243, S. 24964C\
            \ - 24973C).\n"
        fortsetzung:
          type: "boolean"
          description: "Erstreckt sich eine Beratung über mehrere Plenarprotokolle,\
            \ so müssen entsprechend viele Vorgangsschritte mit je gleicher Vorgangsposition\
            \ im Vorgangsablauf angelegt werden. Der zweite und jeder weitere dieser\
            \ Schritte wird dann als \"Fortsetzung\" gekennzeichnet (Attribut `fortsetzung:\
            \ true`). \nFür die Beratung des Gesetzentwurfs für die Feststellung des\
            \ Haushaltsplanes (Haushaltsberatungen) gelten abweichende Regelungen.\n"
        nachtrag:
          type: "boolean"
          description: "Eine Auswertungseinheit eines Plenarprotokolls kann nur an\
            \ genau einen Vorgangsschritt angebunden werden. \nMüssen aber mehrere\
            \ Auswertungseinheiten für einen Vorgangsschritt gebildet werden (weil\
            \ die Ergänzung einer Rede erst in einem späteren Protokoll erscheint\
            \ oder weil sich z.B. bei einer Verbundenen Beratung (§ 24 GO-BT) nicht\
            \ alle Schriftlichen Erklärungen nach § 31 GO-BT auf sämtliche Vorlagen\
            \ beziehen), \ndann müssen im Vorgangsablauf mehrere Vorgangsschritte\
            \ mit der gleichen Vorgangsposition angelegt werden. Der zweite und jeder\
            \ weitere dieser Schritte wird dann als \"Nachtrag\" gekennzeichnet (Attribut\
            \ `nachtrag: true`)\n"
        vorgangstyp:
          type: "string"
          example: "Geschäftsordnung"
          description: "Vorgangstyp des zugehörigen Vorgangs"
        typ:
          type: "string"
          enum:
          - "Vorgangsposition"
          example: "Vorgangsposition"
        titel:
          type: "string"
          example: "Weitergeltung von Geschäftsordnungsrecht"
          description: "Titel des zugehörigen Vorgangs"
        dokumentart:
          type: "string"
          enum:
          - "Drucksache"
          - "Plenarprotokoll"
          example: "Drucksache"
        vorgang_id:
          type: "string"
          pattern: "^\\d+$"
          example: 84343
          description: "ID des zugehörigen Vorgangs"
        datum:
          type: "string"
          format: "date"
          example: "2017-10-24"
          description: "Datum des zugehörigen Dokuments"
        aktualisiert:
          type: "string"
          format: "date-time"
          example: "2022-08-01T15:30:16+02:00"
          description: "Letzte Aktualisierung der Entität oder des zugehörigen Dokuments"
        fundstelle:
          $ref: "#/components/schemas/Fundstelle"
        urheber:
          type: "array"
          items:
            $ref: "#/components/schemas/Urheber"
        ueberweisung:
          type: "array"
          items:
            $ref: "#/components/schemas/Ueberweisung"
        aktivitaet_anzeige:
          type: "array"
          items:
            $ref: "#/components/schemas/AktivitaetAnzeige"
          minItems: 0
          maxItems: 4
          description: "Zusammenfassung der ersten 4 zur Anzeige vorgesehenen Aktivitä\
            ten"
        aktivitaet_anzahl:
          type: "integer"
          format: "int32"
          example: 2
          description: "Gesamtzahl der zugehörigen Aktivitäten"
        ressort:
          type: "array"
          items:
            $ref: "#/components/schemas/Ressort"
        beschlussfassung:
          type: "array"
          items:
            $ref: "#/components/schemas/Beschlussfassung"
        ratsdok:
          type: "string"
          example: "11018/17"
          description: "Ratsdok-Nr."
        kom:
          type: "string"
          example: "(2017) 600 endg."
          description: "KOM-Nr."
        sek:
          type: "string"
          example: "(2010) 305 endg."
          description: "SEK-Nr."
        mitberaten:
          type: "array"
          items:
            $ref: "#/components/schemas/Vorgangspositionbezug"
          description: "Es ist eine häufig geübte Praxis, mehrere thematisch verwandte\
            \ Vorlagen (z.B. konkurrierende Anträge der verschiedenen Fraktionen zum\
            \ Thema Diesel-Fahrverbote) in einer Debatte gemeinsam zu beraten (\"\
            Zusammenberatung\").\n\n`mitberaten` liefert, von einem Vorgang ausgehend,\
            \ alle anderen Vorgänge, die Gegenstand der Zusammenberatung sind.\n"
        abstract:
          type: "string"
          example: "Stellungnahme der BRg zu den Tätigkeitsberichten 2016/2017 der\
            \ Bundesnetzagentur  - Telekommunikation und Post - mit den Sondergutachten\
            \ der Monopolkommission"
      required:
      - "id"
      - "vorgangsposition"
      - "zuordnung"
      - "gang"
      - "fortsetzung"
      - "nachtrag"
      - "vorgangstyp"
      - "typ"
      - "titel"
      - "dokumentart"
      - "vorgang_id"
      - "datum"
      - "aktualisiert"
      - "fundstelle"
      - "aktivitaet_anzahl"
    Drucksache:
      description: "Liefert Metadaten zu einer Drucksache."
      type: "object"
      xml:
        name: "document"
      properties:
        id:
          type: "string"
          pattern: "^\\d+$"
          example: 68852
        typ:
          type: "string"
          enum:
          - "Dokument"
          example: "Dokument"
        dokumentart:
          type: "string"
          enum:
          - "Drucksache"
          example: "Drucksache"
        drucksachetyp:
          type: "string"
          example: "Antrag"
        dokumentnummer:
          type: "string"
          example: "19/1"
        wahlperiode:
          type: "integer"
          format: "int32"
          example: 19
        herausgeber:
          type: "string"
          enum:
          - "BT"
          - "BR"
          example: "BT"
        datum:
          type: "string"
          format: "date"
          example: "2017-10-24"
        aktualisiert:
          type: "string"
          format: "date-time"
          example: "2022-08-01T15:30:16+02:00"
          description: "Letzte Aktualisierung der Entität"
        titel:
          type: "string"
          example: "Weitergeltung von Geschäftsordnungsrecht"
        autoren_anzeige:
          type: "array"
          items:
            type: "object"
            properties:
              id:
                type: "string"
                pattern: "^\\d+$"
                example: 546
                description: "ID von Personenstammdaten"
              title:
                type: "string"
                example: "Kai Gehring, MdB, BÜNDNIS 90/DIE GRÜNEN"
              autor_titel:
                type: "string"
                example: "Kai Gehring"
            required:
            - "id"
            - "title"
            - "autor_titel"
          minItems: 0
          maxItems: 4
          description: "Zusammenfassung der ersten 4 zur Anzeige markierten Autor:innen"
        autoren_anzahl:
          type: "integer"
          format: "int32"
          example: 4
          description: "Gesamtzahl der Autor:innen"
        fundstelle:
          $ref: "#/components/schemas/Fundstelle"
        pdf_hash:
          type: "string"
          example: "a33af31e7c4524db8db172ef8f9e0f6d"
          description: "MD5-Prüfsumme der PDF-Datei"
        urheber:
          type: "array"
          items:
            $ref: "#/components/schemas/Urheber"
        vorgangsbezug:
          type: "array"
          items:
            $ref: "#/components/schemas/Vorgangsbezug"
          minItems: 0
          maxItems: 4
          description: "Zusammenfassung der ersten 4 zugehörigen Vorgänge"
        vorgangsbezug_anzahl:
          type: "integer"
          format: "int32"
          example: 6
          description: "Gesamtzahl der zugehörigen Vorgänge"
        ressort:
          type: "array"
          items:
            $ref: "#/components/schemas/Ressort"
        anlagen:
          type: "string"
          example: "Verzeichnis der Gutachten des Sachverständigenrates"
      required:
      - "id"
      - "drucksachetyp"
      - "dokumentart"
      - "autoren_anzahl"
      - "typ"
      - "vorgangsbezug_anzahl"
      - "dokumentnummer"
      - "herausgeber"
      - "datum"
      - "aktualisiert"
      - "titel"
      - "fundstelle"
    Plenarprotokoll:
      description: "Liefert Metadaten zu einem Plenarprotokoll."
      type: "object"
      xml:
        name: "document"
      properties:
        id:
          type: "string"
          pattern: "^\\d+$"
          example: 908
        dokumentart:
          type: "string"
          enum:
          - "Plenarprotokoll"
          example: "Plenarprotokoll"
        typ:
          type: "string"
          enum:
          - "Dokument"
          example: "Dokument"
        dokumentnummer:
          type: "string"
          example: "19/1"
        wahlperiode:
          type: "integer"
          format: "int32"
          example: 19
        herausgeber:
          $ref: "#/components/schemas/Zuordnung"
        datum:
          type: "string"
          format: "date"
          example: "2017-10-24"
        aktualisiert:
          type: "string"
          format: "date-time"
          example: "2022-08-01T15:30:16+02:00"
          description: "Letzte Aktualisierung der Entität"
        titel:
          type: "string"
          example: "Protokoll der 1. Sitzung des 19. Deutschen Bundestages"
        fundstelle:
          $ref: "#/components/schemas/Fundstelle"
        pdf_hash:
          type: "string"
          example: "a33af31e7c4524db8db172ef8f9e0f6d"
          description: "MD5-Prüfsumme der PDF-Datei"
        vorgangsbezug:
          type: "array"
          items:
            $ref: "#/components/schemas/Vorgangsbezug"
          minItems: 0
          maxItems: 4
          description: "Zusammenfassung der ersten 4 zugehörigen Vorgänge"
        vorgangsbezug_anzahl:
          type: "integer"
          format: "int32"
          example: 6
          description: "Gesamtzahl der zugehörigen Vorgänge"
        sitzungsbemerkung:
          type: "string"
          example: "Sondersitzung"
      required:
      - "id"
      - "dokumentart"
      - "typ"
      - "vorgangsbezug_anzahl"
      - "dokumentnummer"
      - "herausgeber"
      - "datum"
      - "aktualisiert"
      - "titel"
      - "fundstelle"
    DokumentTextBase:
      description: "Liefert zusätzlich zu den Metadaten den Volltext eines Dokuments."
      type: "object"
      properties:
        text:
          type: "string"
          description: "Volltext des Dokuments\n\nDas Beispiel enthält einen gekü\
            rzten Auszug einer Drucksache.\n"
          example: "Deutscher Bundestag Drucksache 19/1\n19. Wahlperiode 24.10.2017\n\
            \nAntrag\nder Fraktion der CDU/CSU\nWeitergeltung von Geschäftsordnungsrecht\n\
            Der Bundestag wolle beschließen:\nFür die 19. Wahlperiode werden übernommen\n\
            – die Geschäftsordnung des Deutschen Bundestages einschließlich ihrer\
            \ Anla-\ngen, soweit sie vom Deutschen Bundestag zu beschließen sind,\
            \ in der Fassung\nder Bekanntmachung vom 2. Juli 1980 (BGBl. I S. 1237),\
            \ zuletzt geändert\nlaut Bekanntmachung vom 12. Juni 2017 (BGBl. I S.\
            \ 1877), wobei § 126a der\nGeschäftsordnung mit Ablauf der 18. Wahlperiode\
            \ entfallen ist;\n– die Gemeinsame Geschäftsordnung des Bundestages und\
            \ des Bundesrates für\nden Ausschuss nach Artikel 77 des Grundgesetzes\
            \ (Vermittlungsausschuss)\nvom 5. Mai 1951 (BGBl. II S. 103), zuletzt\
            \ geändert laut Bekanntmachung vom\n30. April 2003 (BGBl. I S. 677);\n\
            – die Geschäftsordnung für den Gemeinsamen Ausschuss vom 23. Juli 1969\n\
            (BGBl. I S. 1102), zuletzt geändert laut Bekanntmachung vom 20. Juli 1993\n\
            (BGBl. I S. 1500);\n– die Geschäftsordnung für das Verfahren nach Artikel\
            \ 115d des Grundgesetzes\nvom 23. Juli 1969 (BGBl. I S. 1100);\n– die\
            \ Richtlinien zur Überprüfung auf eine Tätigkeit oder politische Verantwor-\n\
            tung für das Ministerium für Staatssicherheit/Amt für Nationale Sicherheit\
            \ der\nehemaligen Deutschen Demokratischen Republik vom 13. Dezember 1991\n\
            (BGBl. 1992 I S. 76), zuletzt geändert laut Bekanntmachung vom 21. Oktober\n\
            2005 (BGBl. I S. 3094).\nBerlin, den 23. Oktober 2017\nVolker Kauder,\
            \ Alexander Dobrindt und Fraktion\nSatz: Satzweiss.com Print, Web, Software\
            \ GmbH, Mainzer Straße 116, 66121 Saarbrücken, www.satzweiss.com\nDruck:\
            \ Printsystem GmbH, Schafwäsche 1-3, 71296 Heimsheim, www.printsystem.de\n\
            Vertrieb: Bundesanzeiger Verlag GmbH, Postfach 10 05 34, 50445 Köln, Telefon\
            \ (02 21) 97 66 83 40, Fax (02 21) 97 66 83 44, www.betrifft-gesetze.de\n\
            ISSN 0722-8333\n"
    DrucksacheText:
      allOf:
      - $ref: "#/components/schemas/Drucksache"
      - $ref: "#/components/schemas/DokumentTextBase"
    PlenarprotokollText:
      allOf:
      - $ref: "#/components/schemas/Plenarprotokoll"
      - $ref: "#/components/schemas/DokumentTextBase"
    Aktivitaet:
      description: "Liefert Metadaten zu einer Aktivität."
      type: "object"
      xml:
        name: "document"
      properties:
        id:
          type: "string"
          pattern: "^\\d+$"
          example: 1493545
        aktivitaetsart:
          type: "string"
          example: "Rede"
        typ:
          type: "string"
          enum:
          - "Aktivität"
          example: "Aktivität"
        dokumentart:
          type: "string"
          enum:
          - "Drucksache"
          - "Plenarprotokoll"
          example: "Plenarprotokoll"
        wahlperiode:
          type: "integer"
          format: "int32"
          example: 19
        datum:
          type: "string"
          format: "date"
          example: "2020-12-11"
        aktualisiert:
          type: "string"
          format: "date-time"
          example: "2022-08-01T15:30:16+02:00"
          description: "Letzte Aktualisierung der Entität oder des zugehörigen Dokuments"
        titel:
          type: "string"
          example: "Olaf Scholz, Bundesmin., Bundesministerium der Finanzen"
        fundstelle:
          $ref: "#/components/schemas/Fundstelle"
        vorgangsbezug:
          type: "array"
          items:
            $ref: "#/components/schemas/Vorgangspositionbezug"
          minItems: 0
          maxItems: 4
          description: "Zusammenfassung der ersten 4 zugehörigen Vorgänge"
        vorgangsbezug_anzahl:
          type: "integer"
          format: "int32"
          example: 18
          description: "Gesamtzahl der zugehörigen Vorgänge"
        deskriptor:
          type: "array"
          items:
            $ref: "#/components/schemas/Deskriptor"
        abstract:
          type: "string"
          example: "Zusammenberaten mit Finanzplan"
      required:
      - "id"
      - "aktivitaetsart"
      - "typ"
      - "vorgangsbezug_anzahl"
      - "dokumentart"
      - "wahlperiode"
      - "datum"
      - "aktualisiert"
      - "titel"
      - "fundstelle"
    Person:
      description: "Liefert Personenstammdaten zu einer Person"
      type: "object"
      xml:
        name: "document"
      properties:
        id:
          type: "string"
          pattern: "^\\d+$"
          example: 1728
        nachname:
          type: "string"
          example: "Leyen"
        vorname:
          type: "string"
          example: "Ursula"
        namenszusatz:
          type: "string"
          example: "von der"
        typ:
          type: "string"
          example: "Person"
        wahlperiode:
          type: "integer"
          format: "int32"
          example: 15
          description: "Wahlperiode des ersten zugehörigen Dokuments"
        basisdatum:
          type: "string"
          format: "date"
          example: "2003-09-09"
          description: "Datum des ersten zugehörigen Dokuments"
        datum:
          type: "string"
          format: "date"
          example: "2019-06-25"
          description: "Datum des letzten zugehörigen Dokuments"
        aktualisiert:
          type: "string"
          format: "date-time"
          example: "2022-08-01T15:30:16+02:00"
          description: "Letzte Aktualisierung der Entität"
        titel:
          type: "string"
          example: "Dr.  Ursula von der Leyen, Bundesmin., Bundesministerium der Verteidigung"
        person_roles:
          type: "array"
          items:
            $ref: "#/components/schemas/PersonRole"
          description: "Nebeneinträge mit bspw. abweichenden Funktionen oder Namensä\
            nderungen"
      required:
      - "id"
      - "nachname"
      - "vorname"
      - "typ"
      - "aktualisiert"
      - "titel"
    AktivitaetAnzeige:
      description: "Liefert im Vorgangsablauf die beim Vorgangsschritt zur Anzeige\
        \ vorgesehenen Aktivitäten, z. B. eine Rede eines MdB beim Vorgangsschritt\
        \ 1. Beratung in einem Gesetzgebungsvorgang."
      type: "object"
      properties:
        aktivitaetsart:
          type: "string"
          example: "Rede"
        titel:
          type: "string"
          example: "Prof. Dr. Patrick Sensburg, MdB, CDU/CSU"
        pdf_url:
          type: "string"
          example: "https://dserver.bundestag.de/btp/19/19083.pdf#P.9800"
        seite:
          type: "string"
          example: "9800D"
      required:
      - "aktivitaetsart"
      - "titel"
    Beschlussfassung:
      description: "Liefert die Beschlussfassung (z. B. Annahme, Ablehnung, Kenntnisnahme)\
        \ zu einer Drucksache mit Fundstelle im Plenarprotokoll sowie Angaben zu ggf.\
        \ erforderlichen qualifizierten Mehrheiten (`mehrheit`) bzw. der besonderen\
        \ Abstimmungsverfahren (`abstimmungsart`)."
      type: "object"
      properties:
        beschlusstenor:
          type: "string"
          example: "Annahme der Vorlage"
        seite:
          type: "string"
          example: "11B"
        abstimmungsart:
          type: "string"
          enum:
          - "Abstimmung durch Aufruf der Länder"
          - "Geheime Wahl"
          - "Hammelsprung"
          - "Namentliche Abstimmung"
          - "Verhältniswahl"
        abstimm_ergebnis_bemerkung:
          type: "string"
          example: "einstimmig"
        grundlage:
          type: "string"
          example: "Art. 80 Abs. 2 GG"
        dokumentnummer:
          type: "string"
          example: "19/8"
        mehrheit:
          type: "string"
          enum:
          - "Absolute Mehrheit"
          - "Zweidrittelmehrheit"
      required:
      - "beschlusstenor"
    Deskriptor:
      description: "Liefert die mit einer Aktivität zu deren inhaltlichen Beschreibung\
        \ verknüpften Schlagwörter. Die Schlagwörter (Deskriptoren) entstammen dem\
        \ kontrollierten Vokabular des Parlamentsthesaurus ANTHES/PARTHES und stehen\
        \ in thematischer Beziehung zueinander.\n\nSiehe auch: VorgangDeskriptor\n"
      type: "object"
      properties:
        name:
          type: "string"
          example: "Parlamentarische Geschäftsordnung"
        typ:
          type: "string"
          enum:
          - "Freier Deskriptor"
          - "Geograph. Begriffe"
          - "Institutionen"
          - "Personen"
          - "Rechtsmaterialien"
          - "Sachbegriffe"
          example: "Sachbegriffe"
      required:
      - "name"
      - "typ"
    Fundstelle:
      description: "Liefert im Vorgangsablauf das zu einem Vorgangsschritt gehörende\
        \ Dokument (Drucksache oder Protokoll). \n\nBeispiel: „BT-Drucksache 19/1\
        \ (Antrag Fraktion der CDU/CSU)“ oder beim Vorgangsschritt Beratung „BT-Plenarprotokoll\
        \ 19/1, S. 4C-12A“.\n"
      type: "object"
      properties:
        id:
          type: "string"
          pattern: "^\\d+$"
          example: 68852
          description: "ID einer Drucksache oder eines Plenarprotokolls"
        dokumentart:
          type: "string"
          enum:
          - "Drucksache"
          - "Plenarprotokoll"
          example: "Drucksache"
        pdf_url:
          type: "string"
          example: "https://dserver.bundestag.de/btd/19/000/1900001.pdf"
        dokumentnummer:
          type: "string"
          example: "19/1"
        datum:
          type: "string"
          format: "date"
          example: "2017-10-24"
        drucksachetyp:
          type: "string"
          example: "Antrag"
        herausgeber:
          $ref: "#/components/schemas/Zuordnung"
        urheber:
          type: "array"
          items:
            type: "string"
            example: "Fraktion der CDU/CSU"
            description: "Körperschaftliche Urheber der zugehörigen Drucksache"
        verteildatum:
          type: "string"
          format: "date"
          example: "2017-10-25"
        seite:
          type: "string"
          example: "4292B"
        anfangsseite:
          type: "integer"
          example: 4251
        endseite:
          type: "integer"
          example: 4298
        anfangsquadrant:
          $ref: "#/components/schemas/Quadrant"
        endquadrant:
          $ref: "#/components/schemas/Quadrant"
        frage_nummer:
          type: "string"
          example: "C.4"
        anlagen:
          type: "string"
          example: "Verzeichnis der Gutachten des Sachverständigenrates"
        top:
          type: "integer"
          format: "int32"
          example: 2
        top_zusatz:
          type: "string"
          example: "b"
      required:
      - "id"
      - "dokumentnummer"
      - "datum"
      - "dokumentart"
      - "herausgeber"
      - "urheber"
    Inkrafttreten:
      description: "Liefert im Gesetzgebungsvorgang zu einem verkündeten Gesetz das\
        \ Datum des Tages, an dem das Gesetz in Kraft tritt bzw. an dem Teile eines\
        \ Gesetzes in Kraft treten."
      type: "object"
      properties:
        datum:
          type: "string"
          format: "date"
          example: "2020-06-06"
        erlaeuterung:
          type: "string"
          example: "Artikel 1 Nr. 14, Artikel 3 Nr. 4, Artikel 4 Nr. 4"
      required:
      - "datum"
    PersonRole:
      description: "Liefert den Eintrag einer Person in einer bestimmten Rolle oder\
        \ Funktion."
      type: "object"
      properties:
        funktion:
          type: "string"
          example: "LMin Soz u. Frauen"
        funktionszusatz:
          type: "string"
          example: "Stellv. MdBR"
        fraktion:
          type: "string"
          example: "CDU/CSU"
        nachname:
          type: "string"
          example: "Leyen"
        vorname:
          type: "string"
          example: "Ursula"
        namenszusatz:
          type: "string"
          example: "von der"
        wahlperiode_nummer:
          type: "array"
          items:
            type: "integer"
            format: "int32"
          example:
          - 17
          - 18
          - 19
          description: "Wahlperioden, für die der Personeneintrag zutrifft"
        wahlkreiszusatz:
          type: "string"
          example: "Hannover"
        ressort_titel:
          type: "string"
          example: "Bundesministerium für Familie, Senioren, Frauen und Jugend"
        bundesland:
          $ref: "#/components/schemas/Bundesland"
      required:
      - "funktion"
      - "nachname"
      - "vorname"
    Ressort:
      description: "Liefert das Ressort (Bundesministerium), das innerhalb der Bundesregierung\
        \ federführend für die Ausarbeitung z. B. eines Gesetzentwurfs oder eines\
        \ Antrags oder die Beantwortung von Anfragen ist. Wird nur verwendet, wenn\
        \ Urheber einer Drucksache die Bundesregierung ist.\n\nDas Ressort wird auch\
        \ bei persönlichen Urhebern verwendet, um die Funktion von Angehörigen der\
        \ Bundesregierung zu präzisieren, z. B. „Dr. Robert Habeck, Bundesmin., Bundesministerium\
        \ für Wirtschaft und Klimaschutz“ oder „Dr. Florian Toncar, Parl. Staatssekr.,\
        \ Bundesministerium der Finanzen“.\n"
      type: "object"
      properties:
        federfuehrend:
          type: "boolean"
          example: true
        titel:
          type: "string"
          example: "Bundesministerium für Wirtschaft und Energie"
      required:
      - "federfuehrend"
      - "titel"
    Ueberweisung:
      description: "Liefert den Ausschuss bzw. die Ausschüsse, an die eine Drucksache\
        \ überwiesen wurde, unter Angabe der Federführung und ggf. der Überweisungsart\
        \ (z. B. „gemäß § 96 Geschäftsordnung BT“)."
      type: "object"
      properties:
        ausschuss:
          type: "string"
          example: "Ausschuss für Wahlprüfung, Immunität und Geschäftsordnung"
        ausschuss_kuerzel:
          type: "string"
          example: "AfWIuG"
        federfuehrung:
          type: "boolean"
          example: true
        ueberweisungsart:
          type: "string"
          example: "gemäß § 96 Geschäftsordnung BT"
      required:
      - "ausschuss"
      - "ausschuss_kuerzel"
      - "federfuehrung"
    Urheber:
      description: "Liefert den körperschaftlichen Urheber einer Bundestags- oder\
        \ Bundesratsdrucksache, z. B. einen Ausschuss, eine Fraktion, die Bundesregierung,\
        \ ein Bundesland oder dergleichen."
      type: "object"
      properties:
        einbringer:
          type: "boolean"
        bezeichnung:
          type: "string"
          example: "B90/GR"
        titel:
          type: "string"
          example: "Fraktion BÜNDNIS 90/DIE GRÜNEN"
        rolle:
          type: "string"
          enum:
          - "B"
          - "U"
      required:
      - "bezeichnung"
      - "titel"
    Verkuendung:
      description: "Liefert die Angaben zur Verkündung eines Gesetzes: Ausfertigungs-\
        \ und Verkündungsdatum sowie die Fundstelle im jeweiligen Verkündungsblatt.\
        \ Bei Bundesgesetzblatt I und II ist die Fundstelle verlinkt.\n"
      type: "object"
      properties:
        jahrgang:
          type: "string"
          example: 2018
        heftnummer:
          type: "string"
          example: 11
        seite:
          type: "string"
          example: 409
        ausfertigungsdatum:
          type: "string"
          format: "date"
          example: "2018-03-19"
        verkuendungsdatum:
          type: "string"
          format: "date"
          example: "2018-03-29"
        rubrik_nr:
          type: "string"
          example: "V1"
        einleitungstext:
          type: "string"
          example: "Bekanntmachung"
        verkuendungsblatt_bezeichnung:
          type: "string"
          example: "Bundesgesetzblatt Teil I"
        verkuendungsblatt_kuerzel:
          type: "string"
          example: "BGBl I"
        fundstelle:
          type: "string"
          example: "BGBl I 2018, 409"
        pdf_url:
          type: "string"
          example: "https://www.bgbl.de/xaver/bgbl/start.xav?startbk=Bundesanzeiger_BGBl&start=//*%5b@attr_id=%27bgbl118s0409.pdf%27%5d"
        titel:
          type: "string"
          example: "Bekanntmachung über die Übernahme des Beschlusses des Deutschen\
            \ Bundestages betr. Aufhebung der Immunität von Mitgliedern des Bundestages\
            \ und der Grundsätze in Immunitätsangelegenheiten"
      required:
      - "jahrgang"
      - "seite"
      - "ausfertigungsdatum"
      - "verkuendungsdatum"
      - "einleitungstext"
      - "fundstelle"
    VorgangDeskriptor:
      allOf:
      - $ref: "#/components/schemas/Deskriptor"
      - type: "object"
        description: "Liefert diejenigen mit einem Vorgang zu dessen inhaltlicher\
          \ Beschreibung verknüpften Schlagwörter, denen zur Kennzeichnung ihrer zentralen\
          \ Bedeutung für den Vorgang das Attribut „Fundstelle“ zugewiesen wurde.\
          \ Die Schlagwörter (Deskriptoren) entstammen dem kontrollierten Vokabular\
          \ des Parlamentsthesaurus ANTHES/PARTHES und stehen in thematischer Beziehung\
          \ zueinander.\n\nSiehe auch: Deskriptor\n"
        properties:
          fundstelle:
            type: "boolean"
            example: true
            description: "Kennzeichnet Deskriptoren mit zentraler Bedeutung"
        required:
        - "fundstelle"
    Vorgangsbezug:
      description: "Liefert ID, Titel und Vorgangstyp eines Vorgangs, der mit der\
        \ Drucksache oder dem Plenarprotokoll verbunden ist."
      type: "object"
      properties:
        id:
          type: "string"
          pattern: "^\\d+$"
          example: 84393
          description: "ID eines verknüpften Vorgangs"
        titel:
          type: "string"
          example: "Eröffnung der 1. Sitzung des 19. Deutschen Bundestages"
        vorgangstyp:
          type: "string"
          example: "Ansprache/Erklärung/Mitteilung"
      required:
      - "id"
      - "titel"
      - "vorgangstyp"
    Vorgangspositionbezug:
      allOf:
      - $ref: "#/components/schemas/Vorgangsbezug"
      - type: "object"
        description: "Liefert ID, Titel und Vorgangstyp eines Vorgangs sowie die Bezeichnung\
          \ der Vorgangsposition, z. B. Ansprache, Antrag, Gesetzentwurf, auf die\
          \ in einer Aktivität oder im Vorgangsablauf Bezug genommen wird."
        properties:
          vorgangsposition:
            type: "string"
            example: "Ansprache"
        required:
        - "vorgangsposition"
    VorgangVerlinkung:
      description: "Verlinkte Verweisung von einem Vorgang auf einen anderen Vorgang,\
        \ zu dem eine besondere inhaltliche Verbindung besteht."
      type: "object"
      properties:
        id:
          type: "string"
          pattern: "^\\d+$"
          example: 282237
          description: "ID eines verknüpften Vorgangs"
        verweisung:
          type: "string"
          example: "Bericht"
        titel:
          type: "string"
          example: "Zwischenbericht zur Reform des Bundeswahlrechts und zur Modernisierung\
            \ der Parlamentsarbeit"
        wahlperiode:
          type: "integer"
          format: "int32"
          example: 19
        gesta:
          type: "string"
      required:
      - "verweisung"
      - "titel"
      - "id"
      - "wahlperiode"
    Bundesland:
      description: "Das Bundesland wird bei persönlichen Urhebern verwendet, die Mitglieder\
        \ des Bundesrates sind, z. B. „Reinhold Hilbers, MdBR (Finanzminister), Niedersachsen“"
      type: "string"
      enum:
      - "Baden-Württemberg"
      - "Bayern"
      - "Berlin"
      - "Brandenburg"
      - "Bremen"
      - "Hamburg"
      - "Hessen"
      - "Mecklenburg-Vorpommern"
      - "Niedersachsen"
      - "Nordrhein-Westfalen"
      - "Rheinland-Pfalz"
      - "Saarland"
      - "Sachsen"
      - "Sachsen-Anhalt"
      - "Schleswig-Holstein"
      - "Thüringen"
      example: "Niedersachsen"
    Datum:
      description: "Liefert das Datum eines Dokuments (Drucksache oder Protokoll)."
      type: "string"
      format: "date"
    Quadrant:
      description: "Teil der Fundstelle eines Plenarprotokolls. Jede Seite im Plenarprotokoll\
        \ ist in vier gleich große Viertel unterteilt (Quadranten) mit den Bezeichnungen\
        \ A, B, C, D."
      type: "string"
      enum:
      - "A"
      - "B"
      - "C"
      - "D"
    Zuordnung:
      description: "Jeder Vorgangsschritt ist entweder dem Bundestag (BT), dem Bundesrat\
        \ (BR), der Bundesversammlung (BV) oder der Europakammer (EK) zugeordnet.\
        \ Über die Zuordnung lassen sich bspw. Rechtsverordnungen herausfiltern, an\
        \ denen der Bundestag beteiligt / nicht beteiligt war."
      type: "string"
      enum:
      - "BT"
      - "BR"
      - "BV"
      - "EK"
