Django==4.2.5
langchain
openai
gunicorn
certbot
flask
pandas
huggingface
# transformers
networkx
matplotlib
celery
yfinance
qdrant-client
plotly
bs4
# sentence_transformers
django-cors-headers
channels
djangorestframework
langchain_together
langchain_openai
langchain_core
markdown