uvicorn[standard]
fastapi[standard]
python-multipart
email-validator
passlib[bcrypt]
pydantic
emails
gunicorn
jinja2
alembic
httpx
psycopg[binary]
sqlmodel
bcrypt
pydantic-settings
sentry-sdk[fastapi]
pyjwt
python-jose
beautifulsoup4
openai
sdmx1
tavily-python
sentinelsat
sentinelhub
opol
aiohttp
google-generativeai
instructor
pytest
mypy
ruff
pre-commit
types-passlib
