/* @font-face {
    font-family: 'SuisseScreen';
    src: url('/static/fonts/SuisseScreen-Monitor-WebS.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'SuisseScreen', sans-serif;
} */
