## helmignore usuals:

.DS_Store
.idea/
node_modules/
data/
data/postgres/
data/placeholder/store.sqlite3
data/prefect_db/
neo4j_db/
plugins/
import/
.env
all.txt
mains.txt
copy_all.py
copy_mains.py
gen_helm.py
init_machine.sh
init_ollama_gpu.sh
package-lock.json
package.json
skaffold.yaml
