{% extends "base.html" %}
{% load custom_filters %}

{% block content %}
<div class="container mx-auto px-4">
    {% if user.is_authenticated %}
    <!-- Query Update Form -->
    <form method="POST" action="{% url 'dashboard' %}" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4">
        {% csrf_token %}
        {% for i in "1234" %}
        {% with 'query'|add:i as query_attr %}
            <div>
                <label for="query{{ i }}" class="block text-sm font-medium text-gray-700">Query {{ i }}:</label>
                <input type="text" id="query{{ i }}" name="query{{ i }}" value="{{ user_profile|getattr:query_attr }}" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" placeholder="Enter query...">
            </div>
            {% endwith %}
        {% endfor %}
        <button type="submit" class="mt-4 px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-opacity-50">Update Queries</button>
    </form>

    <!-- TLDR Content Grid -->
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4">
        {% for i in "1234" %}
        {% with 'query'|add:i as query_attr %}
        <div class="tldr-box bg-white rounded-lg shadow-lg p-4">
            <h3 class="text-lg font-semibold text-gray-900">Query {{ i }}</h3>
            <div id="tldr-{{ i }}" hx-get="{% url 'fetch_tldr' %}?query={{ user_profile|getattr:query_attr }}" hx-trigger="load" hx-target="this" hx-indicator=".spinner-{{ i }}">
                <div class="spinner-{{ i }} text-center">
                    <div class="spinner inline-block"></div>
                </div>
            </div>
        </div>
        {% endwith %}
        {% endfor %}
    </div>
    {% else %}
    <p class="text-center text-gray-900">Please log in to view this page.</p>
    {% endif %}
</div>
<script src="https://unpkg.com/htmx.org@1.7.0"></script>
<script>
    document.body.addEventListener('htmx:beforeRequest', function(event) {
        event.target.querySelector('.spinner').classList.remove('hidden');
    });
    
    document.body.addEventListener('htmx:afterRequest', function(event) {
        event.target.querySelector('.spinner').classList.add('hidden');
    });
</script>
{% endblock %}
