{% load static %}
<!-- header.html -->
<nav class="bg-white dark:bg-gray-900 text-gray-900 dark:text-white">
    <div class="max-w-0.8 mx-auto px-4">
        <div class="flex items-center justify-between">
            <div class="flex space-x-4 items-center">
                <!-- logo -->
                <div>
                    <a href="{% url 'home' %}" class="flex items-center py-5 px-2 text-gray-700 dark:text-white">
                        <span class="font-bold">Open Politics Project</span>
                    </a>
                </div>
            </div>

            <!-- secondary nav -->
            <div class="hidden md:flex items-center space-x-1">
                <a href="{% url 'about' %}" class="py-5 px-3 text-gray-700 dark:text-white">About</a>
                <a href="{% url 'news_blog' %}" class="py-5 px-3 text-gray-700 dark:text-white">News</a>
                <a href="mailto:engage@open-politics.org" class="py-5 px-3 text-gray-700 dark:text-white">Contact</a>
                <!-- GitHub Icon -->
                <a href="https://github.com/JimVincentW/open-politics" class="py-5 px-3">
                        <img src="{% static 'media/github-mark.svg' %}" alt="GitHub Logo" class="h-6 dark:invert">
                </a>
                <!-- Authentication Links -->
                {% if user.is_authenticated %}
                <form id="logout-form" method="POST" action="{% url 'logout' %}" class="inline-flex items-center py-5 px-3 dark:text-white">
                    {% csrf_token %}
                    <button type="submit" class="text-gray-700 dark:text-white">Logout</button>
                </form>
                {% else %}
                <form id="login-form" method="GET" action="{% url 'login' %}" class="flex items-center py-5 px-3 dark:text-white">
                    {% csrf_token %}
                    <button type="submit" class="text-gray-700 dark:text-white">Login</button>
                </form>
                {% endif %}
                <!-- Dark Mode Toggle Button -->
                <button class="toggle-dark-mode py-5 px-3 dark:text-white">
                        <i class="fas fa-moon"></i> <!-- Change icon based on theme -->
                </button>
            </div>

            <!-- mobile button goes here -->
            <div class="md:hidden flex items-center">
                <button class="mobile-menu-button">
                    <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>

    <!-- mobile menu -->
        <div class="mobile-menu hidden md:hidden z-10 bg-white dark:bg-gray-900">
            <a href="{% url 'about' %}" class="block py-2 px-4 text-sm mb-2">About</a>
            <a href="{% url 'news_blog' %}" class="block py-2 px-4 text-sm mb-2">News</a>
            <a href="mailto:engage@open-politics.org" class="block py-2 px-4 text-sm mb-2">Contact</a>
            <a href="https://github.com/JimVincentW/open-politics" class="block py-2 px-4 text-sm mb-2">
                <img src="{% static 'media/github-mark.svg' %}" alt="GitHub Logo" class="h-6 dark:invert">
            </a>
            <!-- Authentication Links for Mobile -->
            {% if user.is_authenticated %}
            <form id="logout-form" method="POST" action="{% url 'logout' %}" class="py-2 px-4 text-sm mb-2 flex items-center">
                    {% csrf_token %}
                    <button type="submit" class="w-full text-left">Logout</button>
            </form>
            {% else %}
            <form id="login-form" method="GET" action="{% url 'login' %}" class="py-2 px-4 text-sm mb-2 flex items-center">
                    {% csrf_token %}
                    <button type="submit" class="w-full text-left">Login</button>
            </form>
            {% endif %}
            <button class="toggle-dark-mode flex items-center px-4 text-sm mb-4 ml-1" class="py-5 px-3 dark:text-white">
                    <i class="fas fa-moon text-base pr-2"></i> <!-- Change icon based on theme -->
            </button>
        </div>
        <div class="w-4/5 h-px mt-0 bg-black dark:bg-white mx-auto"></div>
    </nav>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const menuButton = document.querySelector('.mobile-menu-button');
        const mobileMenu = document.querySelector('.mobile-menu');
    
        menuButton.addEventListener('click', () => {
          mobileMenu.classList.toggle('hidden');
        });
    
        // Adjusted to use class selector
        const darkModeToggle = document.querySelectorAll('.toggle-dark-mode');
    
        darkModeToggle.forEach(toggle => {
          toggle.addEventListener('click', () => {
            document.documentElement.classList.toggle('dark');
    
            if(document.documentElement.classList.contains('dark')) {
              localStorage.setItem('darkMode', 'enabled');
            } else {
              localStorage.setItem('darkMode', 'disabled');
            }
          });
        });
    
        // Set dark mode as default
            if(localStorage.getItem('darkMode') === null || localStorage.getItem('darkMode') === 'enabled') {
          document.documentElement.classList.add('dark');
        }
    });
    </script>