{% load static %}

<div class="site-header">
    <input type="checkbox" id="nav-toggle" class="nav-toggle" hidden>
    <label for="nav-toggle" class="burger-menu">
        <span class="burger-bar"></span>
        <span class="burger-bar"></span>
        <span class="burger-bar"></span>
    </label>
    <div class="title-container">
        <a href="https://open-politics.org" class='site-title'>Open Politics Project</a>
    </div>
        <div class="nav-container">
            <a href="{% url 'about' %}">About</a>
            <a href="#news">News</a>
            <a href="mailto:engage@open-politics.org">Contact</a>
            <a href="https://github.com/JimVincentW/open-politics">
                <img src="{% static 'media/github-mark.svg' %}" alt="GitHub Logo" class="github-logo">
            </a>
            <div class="auth-container">
                {% if user.is_authenticated %}
                <form id="logout-form" method="POST" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button class="logout" type="submit">Logout</button>
                </form>
                {% else %}
                <form id="login-form" method="GET" action="{% url 'login' %}">
                    {% csrf_token %}
                    <button class="login" type="submit">Login</button>
                </form>
                {% endif %}
            </div>
            <button id="toggle-dark-mode" class="dark-mode-button">
                <i class="fas fa-sun"></i> <!-- Light mode icon -->
            </button>
        </div>
    </div>
</div>
<div class='line1'></div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const toggleButton = document.getElementById('toggle-dark-mode');
        const icon = toggleButton.querySelector('i');
    
        // Check the stored theme preference and update the UI accordingly
        {% comment %} const currentTheme = localStorage.getItem('theme');
        if (currentTheme === 'dark') {
            document.body.classList.add('invert-colors');
            icon.className = 'fas fa-moon';
        } else {
            icon.className = 'fas fa-sun';
        } {% endcomment %}
    
        // Toggle dark mode on button click
        toggleButton.addEventListener('click', () => {
            document.body.classList.toggle('invert-colors');
            const isDarkMode = document.body.classList.contains('invert-colors');
    
            // Update icon based on the current mode
            icon.className = isDarkMode ? 'fas fa-moon' : 'fas fa-sun';
    
            // Save theme preference
            localStorage.setItem('theme', isDarkMode ? 'dark' : 'light');
        });
    });
  </script>
  