{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="bg-slate-200 dark:bg-gradient-to-r dark:from-zinc-800 dark:to-sky-700 text-black dark:text-white p-4 mb-4 mx-auto w-4/5 rounded-lg shadow-md">
    <p class="text-center">
        Welcome, fellow tester! 🎉<br>
        Ready to dive into Open Politics?<br>
        Check out our <a href='/user_guide' class="underline font-semibold">User Guide</a> to get started!
    </p>
</div>
{% endif %}
{% include 'news/hi.html' %}
{% comment %} {% include 'news/ssare.html' %} {% endcomment %}
{% endblock %}
