{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated%}
<div class="bg-green-50 text-black dark:bg-gray-900 dark:text-white p-8 mb-4">
  <p class="text-center">
    Welcome fellow tester. As an entrypoint to the Open Politics Experience: <br><br>
    Check out our <a href='/user_guide' class="underline">User Guide</a> for more information.</p>
</div>
{% endif %}
{% include 'news/hi.html' %}
{% comment %} {% include 'news/ssare.html' %} {% endcomment %}


{% endblock %}