{% extends 'base.html' %}

{% block content %}
<div class="flex justify-center w-full">
    <div class="bg-white dark:bg-black text-gray-800 dark:text-white max-w-4xl mt-5 mx-3 p-6 border border-transparent dark:border-white shadow-lg rounded-lg">
        <!-- Main Title -->
        <h1 class="text-3xl md:text-4xl font-bold mb-6">Open Source Political Intelligence</h1>

        <!-- Introduction Paragraph -->
        <div class="text-base md:text-lg">
            <p class="mb-4">
                This project aims to help organize the aggregation and analysis of political news.
                The vision is a set of tools to provide insights into political events and trends.
                Helping to understand the political landscape and the forces that shape it. No bias, but clear methods with reproducible and transparent results.
                Built on top of many sources, with open source code and an idealistic spirit to help people understand the world around them.
                A toolkit for your friends, researchers and Christmas dinner discussions alike.
            </p>
        </div>

        <!-- Call to Action Box -->
        <div class="bg-pink-600 text-white p-4 mt-4 rounded-lg">
            <p>
                Your skills and enthusiasm can ignite change. Join us as a data expert, activist, sponsor, or curious individual.
                Political intelligence is a team sport. And true insight comes from many perspectives.
            </p>
        </div>

        <!-- Get in Touch Section -->
        <div class="mt-8">
            <h2 class="text-2xl font-bold mb-4">Get in Touch and Get Involved</h2>
            <ul class="list-none space-y-2">
                <li><strong>Email Us:</strong> <a href="mailto:engage@open-politics.org" class="text-blue-500 hover:underline">engage@open-politics.org</a></li>
                <li><strong>Jour Fixes:</strong>
                    <ul class="list-none ml-4 space-y-1">
                        <li><strong>For Developers:</strong> Thursdays at 15:30</li>
                        <li><strong>For Everybody Else:</strong> Fridays at 12:30</li>
                    </ul>
                </li>
                <li><strong>Meet us at:</strong> <a href="https://discord.gg/link" class="text-blue-500 hover:underline">our Discord Server</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
