{% extends "base.html" %}
{% load custom_filters %}

{% block content %}

<style> 

 
  /* Image display styles */
  .article-image {
    width: 100%;
    height: 100px; /* Set a fixed height, or adjust as needed */
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    
  }

  #chartdiv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* Ensure it covers the full viewport height */
    z-index: -1; /* Initially in the background */
  }
  
  #dashboard {
    z-index: 1002; /* Initially in the foreground */
  }

  #toggleGlobe {
    z-index: 1003 !important;
    position: fixed; /* Fixed position */
    bottom: 20px; /* Positioning from bottom */
    right: 20px; /* Positioning from right */
  }
  @media (max-width: 768px) { /* Adjust this value based on your mobile breakpoint */
    .mobile-hide {
      display: none;
    }
  }
  .am5tooltip { max-width: 300px; /* Set the maximum width for the tooltip / font-size: 14px; / Adjust the font size / padding: 10px; / Add padding to the tooltip / background-color: rgba(0, 0, 0, 0.8); / Set the background color with transparency / color: #fff; / Set the text color / border-radius: 4px; / Add border radius to the tooltip / box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); / Add a subtle box shadow */ }

  .am5-tooltip-title { font-weight: bold; /* Make the title bold / margin-bottom: 5px; / Add some spacing below the title */ }

  .am5-tooltip-content { margin-top: 5px; /* Add some spacing above the content */ }
  .article { max-width: 300px;}
  .dropdown-blend {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.55));
  }
  .z-1004 {
  z-index: 1004;
}
</style>

<div id="chartdiv" class="backdrop-filter backdrop-blur-0"></div>

<button id="toggleGlobe" class="toggle-button bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">Toggle Globe</button>

<div id="dashboard" class="container mx-auto px-4 mt-4">
  <!-- Planning New Dashboard Grid -->
  <div class="mt-4">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="bg-white/10 dark:bg-gray-900/10 rounded-lg shadow-lg p-4 flex flex-col backdrop-blur-xl border border-gray-100/10 dark:border-gray-700/10">
          <h2 class="text-4xl font-extrabold dark:text-white"> News from around the world</h2>
          <div class="mb-2 mt-2 text-black dark:text-white leading-relaxed">
            Ask what you want to know about Politics.
            <br><br>
            Or use the globe to browse global news.
            <br>
            If you have specific questions use the dropdown menu to select a focus.
            </div>


            <!-- Search Module -->
            
          <form class="max-w-lg mx-2">
            <div class="flex">
                <button id="dropdown-button" data-dropdown-toggle="dropdown" class="flex-shrink-0 z-10 inline-flex items-center py-2.5 px-4 text-sm font-medium text-center text-gray-900 border border-gray-300 rounded-s-lg hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 bg-white/10 dark:bg-gray-900/10 backdrop-blur-xl dark:hover:bg-gray-600 dark:focus:ring-gray-700 dark:text-white dark:border-gray-600 relative" type="button">
                    All categories
                    <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                    </svg>
                </button>
                <div id="dropdown" class="z-10 hidden divide-y divide-gray-100 rounded-lg shadow w-44 text-black dark:text-black bg-white/10 dark:bg-gray-900/10 backdrop-blur-xl absolute left-0 mt-12 dropdown-blend">
                  <ul class="py-2 text-sm " aria-labelledby="dropdown-button">
                    <li>
                        <button type="button" class="inline-flex w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Conflict</button>
                    </li>
                    <li>
                        <button type="button" class="inline-flex w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Economy</button>
                    </li>
                    <li>
                        <button type="button" class="inline-flex w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Just News</button>
                    </li>

                    </ul>
                </div>
                <div class="relative w-full">
                    <input type="search" id="search-dropdown" class="block p-2.5 w-full z-20 text-sm text-gray-900 bg-white/10 dark:bg-gray-900/10 backdrop-blur-xl rounded-e-lg border-s-gray-50 border-s-2 border border-gray-300 focus:ring-blue-500 focus:border-blue-500 bg-white/10 dark:bg-gray-900/10 backdrop-blur-xl dark:border-s-gray-700  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500" placeholder="e.g. Economy of Oman" required />
                    <button type="submit" class="absolute top-0 end-0 p-2.5 text-sm font-medium h-full text-white bg-blue-700 rounded-e-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                        </svg>
                        <span class="sr-only">Search</span>
                    </button>
                </div>
              </div>
              <h3 class="font-bold pt-2 my-2 mx-1 text-pink-600 dark:text-pink-600"> Please note that this module here is a sneak peak and currently not fully functional. Will be available asap! </3>
          </form>
        </div>




        <div class="bg-white/10 dark:bg-gray-900/10 h-24 dark:text-white text-right rounded-lg shadow-lg p-4 flex flex-col backdrop-blur-xl border border-gray-100/10 dark:border-gray-700/10">
          <h2 class="text-4xl font-extrabold"> Need help?</h2>
          <p> yeah me too </p>
          

            <!-- Search Module -->
          
          
        </div>
        <div class="bg-white/10 dark:bg-gray-900/10 h-24 text-green-300">
          {{geojson_data|safe}}
        </div>
    </div>
</div>
{% comment %}   {% endcomment %}
<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
<script src="https://cdn.amcharts.com/lib/5/map.js"></script>
<script src="https://cdn.amcharts.com/lib/5/geodata/worldLow.js"></script>
<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
<script>
    // Script for the Dropdown Menu
        document.addEventListener('DOMContentLoaded', function() {
          var dropdownButton = document.getElementById('dropdown-button');
          var dropdown = document.getElementById('dropdown');
      
          dropdownButton.addEventListener('click', function() {
            dropdown.classList.toggle('hidden');
          });
      
          document.addEventListener('click', function(event) {
            if (!dropdownButton.contains(event.target)) {
              dropdown.classList.add('hidden');
            }
          });
        });
        
    </script>
    <script>
      am5.ready(function() {
        var root = am5.Root.new("chartdiv");

        var toggleButton = document.getElementById("toggleGlobe");
        var chartDiv = document.getElementById("chartdiv");
        var dashboardDiv = document.getElementById("dashboard");

        // Get reference to the toggle button
        var toggleButton = document.getElementById("toggleGlobe");

        // Add click event listener to the toggle button
        toggleButton.addEventListener("click", function() {
          if (chartDiv.style.zIndex === "1003") {
            // Move the globe to the background (z-index: -1)
            chartDiv.style.zIndex = "-1";
            dashboardDiv.style.zIndex = "1002";
            chartDiv.classList.remove("backdrop-blur"); // Remove the blur effect
            chartDiv.classList.add("backdrop-blur-0");
          } else {
            // Move the globe to the foreground (z-index: 1003)
            chartDiv.style.zIndex = "1003";
            dashboardDiv.style.zIndex = "-1";
            chartDiv.classList.remove("backdrop-blur-0");
            chartDiv.classList.add("backdrop-blur-sm");
          }
        });
    
        root.setThemes([
          am5themes_Animated.new(root)
        ]);
    
        var chart = root.container.children.push(am5map.MapChart.new(root, {
          panX: "rotateX",
          panY: "rotateY",
          projection: am5map.geoOrthographic(),
          paddingBottom: 20,
          paddingTop: 20,
          paddingLeft: 20,
          paddingRight: 20
        }));
        chart.deltaLongitude = -10; 

    
        var polygonSeries = chart.series.push(am5map.MapPolygonSeries.new(root, {
          geoJSON: am5geodata_worldLow
        }));
    
        var geojsonData = {{ geojson_data|safe }};
    
        polygonSeries.mapPolygons.template.setAll({
          tooltipText: "{name}",
          toggleKey: "active",
          interactive: true
        });
    
        polygonSeries.mapPolygons.template.states.create("hover", {
          fill: am5.color(0x677935)
        });
    
        polygonSeries.mapPolygons.template.states.create("active", {
          fill: am5.color(0x677935)
        });
    
        var previousPolygon;
    
        polygonSeries.mapPolygons.template.on("active", function(active, target) {
          if (previousPolygon && previousPolygon != target) {
            previousPolygon.set("active", false);
          }
          if (target.get("active")) {
            var centroid = target.geoCentroid();
            if (centroid) {
              chart.animate({ key: "rotationX", to: -centroid.longitude, duration: 1500, easing: am5.ease.inOut(am5.ease.cubic) });
              chart.animate({ key: "rotationY", to: -centroid.latitude, duration: 1500, easing: am5.ease.inOut(am5.ease.cubic) });
            }
            var countryName = target.dataItem.dataContext.name;
            
            // Update the search input value with the country name
            document.getElementById("search-dropdown").value = countryName;
          }
          previousPolygon = target;
        });
    
        polygonSeries.mapPolygons.template.adapters.add("tooltipHTML", function(html, target) {
          var countryName = target.dataItem.dataContext.name;
          var articles = geojsonData.features
            .filter(feature => feature.properties.location === countryName)
            .map(feature => {
              return feature.properties.articles.map(article => `
                <div class="article">
                  <h3 class="article-title">${article.headline}</h3>
                </div>
              `).join('');
            });
        
          if (articles.length > 0) {
            var tooltipContent = `
              <div class="am5-tooltip">
                <div class="am5-tooltip-title">${countryName}</div>
                <div class="am5-tooltip-content">${articles.join('')}</div>
              </div>
            `;
            return tooltipContent;
          }
        
          return html;
        });
    
        var graticuleSeries = chart.series.unshift(
          am5map.GraticuleSeries.new(root, {
            step: 10
          })
        );
    
        graticuleSeries.mapLines.template.set("strokeOpacity", 0.1);
    
        var pointSeries = chart.series.push(am5map.MapPointSeries.new(root, {}));
        pointSeries.data.setAll(geojsonData.features);
    
        pointSeries.bullets.push(function() {
          var circle = am5.Circle.new(root, {
            radius: 4,
            fill: am5.color(0xff0000),
            strokeWidth: 0
          });
    
          return am5.Bullet.new(root, {
            sprite: circle
          });
        });
      });
    </script>
    {% endblock %}
