{% load static  %}

<section class="section">
  <div class="grid-container">
    <div class="grid-item card highlight">
      <div class="content">
        <h1>Welcome to Open Politics</h1>
        <h2>Please note: this project is not online.</h2>
        <p>This is just a temporary staging demo for development purposes. Please research the code or read the readme for more information.</p>
        <a href="https://github.com/JimVincentW/open-politics">GitHub Repository</a>
        <p>This project is a work in progress. Please contact me if you have any questions.</p> 
      </div>
    </div>
    <div class="grid-item card">
      <h1> Search Actors </h1>
      <h2> Currenyly offline due to missing resources </h2>
      <h3> Research an arbitrary question into the news </h3>
      <p> We will scrape the news and retrieve the articles most relevant to your question. </p>
      <p> Afterwards we will run inference on some Named Entitiy Recognition models </p>
      <form class="search-form" hx-post="" hx-target="#search-results">
        <input type="text" name="search" placeholder="Search..">
        <button type="submit"> <i class="fas fa-search" style='position: middle; padding-left:-5px;'></i> </button>
      </form>
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const gridItems = document.querySelectorAll('.grid-item');
  
    gridItems.forEach(item => {
      const maximizeBtn = item.querySelector('.special-maximize-button');
      const minimizeBtn = item.querySelector('.special-minimize-button');
  
      maximizeBtn.style.display = 'block'; // Show maximize button
  
      maximizeBtn.onclick = function() {
        item.classList.add('maximized');
        maximizeBtn.style.display = 'none';
        minimizeBtn.style.display = 'block';
      };
  
      minimizeBtn.onclick = function() {
        item.classList.remove('maximized');
        minimizeBtn.style.display = 'none';
        maximizeBtn.style.display = 'block';
      };
    });
  });
  
</script>