{% load custom_filters %}
<div class="bg-white text-black p-8 dark:bg-gray-900 dark:text-white">
    <div class="flex flex-col justify-center items-center h-screen" style="margin-top: -2px;">
        <div class="text-center mb-4">
            <h1 class="text-6xl font-bold leading-none sd:mt-8" style="margin-top: -8rem;">
                <div class="fixed-height">What are you</div>
                <div class="fixed-height flex justify-center">
                    <span id="shimmer-ast" class="shimmer">*</span>
                    <type-async id="dynamic-text" class="inline-block shimmer ast">____</type-async>
                </div>
                <div class="fixed-height">for?</div>
            </h1>
        </div>
        
        <div class="mt-2 mr-8 text-right">
            <p class="text-pink-600 font-bold mb-1">Rethinking News Analysis with Open Source & AI.</p>
            <p class="text-lg mt-1 mb-2">Navigate news with next-gen tools.</p>
            <p class="mt-1 mb-2">Come back soon for feature releases.</p>

            <div class="space-y-2 max-w-sm mx-auto mt-4">
                <a href="https://github.com/JimVincentW/open-politics" class="inline-block bg-black text-white py-2 px-4 rounded-full border border-transparent hover:bg-white hover:text-black hover:border-black dark:hover:border-white dark:bg-white dark:text-black dark:hover:bg-black dark:hover:text-white transition-colors duration-300 ease-in-out">Project on GitHub</a>
                <!-- Adjusted classes for "Join the waitlist" button -->
                <a href="https://zu61ygkfc3v.typeform.com/to/KHZeedk3" class="inline-block bg-black text-white py-2 px-4 rounded-full border border-transparent hover:bg-white hover:text-black hover:border-black dark:hover:border-white dark:bg-white dark:text-black dark:hover:bg-black dark:hover:text-white transition-colors duration-300 ease-in-out">Join the waitlist</a>
                
                {% if user.is_authenticated %}
                <div class="mt-4">
                    <!-- Corrected classes for "Search News" button -->
                    <a href="{% url 'news_home' %}" class="inline-block bg-pink-600 text-white py-2 px-4 rounded-full border border-transparent hover:bg-white hover:text-black hover:border-black dark:bg-pink-600 dark:text-white dark:hover:bg-black dark:hover:text-white dark:hover:border-white transition-colors duration-300 ease-in-out">Search News</a>
                </div>
                <div class="mt-4">
                    <!-- Corrected classes for "Search News" button -->
                    <a href="{% url 'globe' %}" class="inline-block bg-white/10 dark:bg-gray-900/10 backdrop-blur-xl text-white py-2 px-4 rounded-full border border-transparent hover:bg-white hover:text-black hover:border-black dark:bg-pink-600 dark:text-white dark:hover:bg-black dark:hover:text-white dark:hover:border-white transition-colors duration-300 ease-in-out">Open Globe</a>
                </div>
                <div class="mt-4">
                    <!-- Adjusted classes for "Dashboard" button -->
                    <a href="{% url 'dashboard' %}" class="inline-block bg-blue-500 text-white py-2 px-4 rounded-full border border-transparent hover:bg-white hover:text-black hover:border-black dark:hover:border-white dark:bg-blue-500 dark:text-white dark:hover:bg-black dark:hover:text-white transition-colors duration-300 ease-in-out">Dashboard</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div id="tldr-{{ i }}" hx-ext="sse" sse-connect="{% url 'tldr_sse' %}?query={{ query }}" sse-swap="tldr,issue_areas,contextualized_issue_areas,emoji_string">
    <!-- Content for TLDR will be loaded here -->
    {% include 'news/tldr_fragment.html' %}
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
      const eventSources = document.querySelectorAll('[sse-connect]');
  
      eventSources.forEach(function(eventSourceElement) {
          const eventSource = new EventSource(eventSourceElement.getAttribute('sse-connect'));
  
          eventSource.addEventListener('articles', function(event) {
              const articles = JSON.parse(event.data);
              const articlesOutput = eventSourceElement.querySelector('#articles-output');
              // Update articles output with received data
              articlesOutput.innerHTML = articles.map(article => `
                  <div class="article-card">
                      <h3>${article.source.name}</h3>
                      <a href="${article.url}">
                          <p>${article.title}</p>
                      </a>
                      <p>${article.content.slice(0, 200)}...</p>
                  </div>
              `).join('');
          });
  
          eventSource.addEventListener('tldr', function(event) {
              const tldr = JSON.parse(event.data).tldr;
              const tldrOutput = eventSourceElement.querySelector('#tldr-output');
              tldrOutput.innerHTML = tldr;
          });
  
          eventSource.addEventListener('issue_areas', function(event) {
              const issueAreas = JSON.parse(event.data);
              const issueAreasOutput = eventSourceElement.querySelector('.issue-areas .grid');
              issueAreasOutput.innerHTML = issueAreas.map(issueArea => `
                  <div class="bg-white dark:bg-gray-800 rounded-lg shadow-lg p-2">
                      <h5 class="text-xs font-semibold text-gray-900 dark:text-fluorescent-green">${issueArea.name}</h5>
                      <p class="mt-1 text-xs text-gray-700 dark:text-gray-300">${issueArea.description}</p>
                  </div>
              `).join('');
          });
  
          eventSource.addEventListener('contextualized_issue_areas', function(event) {
              const contextualizedIssueAreas = JSON.parse(event.data).context;
              const contextualizedOutput = eventSourceElement.querySelector('#tldr-output');
              contextualizedOutput.innerHTML = contextualizedIssueAreas;
          });
  
          eventSource.addEventListener('emoji_string', function(event) {
              const emojiString = JSON.parse(event.data).emojis;
              const emojiOutput = eventSourceElement.querySelector('#emoji-output');
              emojiOutput.textContent = `Emoji Quicksight: ${emojiString.slice(0, 7)}`;
          });
  
          eventSource.addEventListener('error', function(event) {
              if (eventSource.readyState === EventSource.CLOSED) {
                  console.error("SSE connection closed");
              }
          });
  
          eventSource.addEventListener('open', function(event) {
              console.log("SSE connection opened");
          });
    
        eventSource.addEventListener('message', function(event) {
            console.log("Received message:", event.data);
        });
    });

</script>

<script>
    const sleep = time => new Promise(resolve => setTimeout(resolve, time));

    class TypeAsync extends HTMLElement {
        constructor() {
            super();
            this._text = '';
        }

        async type(text) {
            for (let character of text) {
                if (character === '*') {
                    this.innerHTML += '<span class="shimmer">*</span>';
                } else {
                    this._text += character;
                    this.innerText = this._text;
                }
                await sleep(this.typeInterval);
            }
        }
        
        async delete() {
            while (this._text.length > 0) {
                this._text = this._text.slice(0, this._text.length - 1);
                this.innerText = this._text;
                await sleep(this.typeInterval);
            }
        }

        get typeInterval() {
            const randomMs = 100 * Math.random();
            return randomMs < 50 ? 10 : randomMs;
        }
    }

    customElements.define('type-async', TypeAsync);

    document.addEventListener('DOMContentLoaded', async (event) => {
        const node = document.querySelector("#dynamic-text");
        const words = ['looking', 'researching', 'rooting', 'developing', 'asking']; // add your words here
        
        let counter = 0;
        
        // Remove the underlines
        node.innerText = "";
        
        await sleep(1000);
        
        for (let counter = 0; counter < words.length; counter++) {
            await node.type(words[counter]);
            if (counter < words.length - 1) { // Check if it's not the last word
                await sleep(2000);
                await node.delete();
            }
        }
    });
</script>
