{% load custom_filters %}
<div class="bg-white text-black p-8 dark:bg-black dark:text-white">
    <div class="flex flex-col justify-center items-center h-screen" style="margin-top: -1rem;">
        <div class="text-center mb-12">
            <h1 class="text-6xl font-bold leading-none sd:mt-8" style="margin-top: -8rem;">
                <div class="fixed-height">What are you</div>
                <div class="fixed-height flex justify-center">
                    <span id="shimmer-ast" class="shimmer">*</span>
                    <type-async id="dynamic-text" class="inline-block shimmer ast">____</type-async>
                </div>
                <div class="fixed-height">for?</div>
            </h1>
        </div>
        
        <div class="mt-2 mr-8 text-right">
            <p class="text-pink-600 font-bold mb-1">Rethinking News Analysis with Open Source & AI.</p>
            <p class="text-lg mt-1 mb-2">Navigate news with next-gen tools.</p>
            <p class="mt-1 mb-2">Come back soon for feature releases.</p>

            <div class="space-y-2 max-w-sm mx-auto mt-4">
                <a href="https://github.com/JimVincentW/open-politics" class="inline-block bg-black text-white py-2 px-4 rounded-full border border-transparent hover:bg-white hover:text-black hover:border-black dark:hover:border-white dark:bg-white dark:text-black dark:hover:bg-black dark:hover:text-white transition-colors duration-300 ease-in-out">Project on GitHub</a>
                <!-- Adjusted classes for "Join the waitlist" button -->
                <a href="https://zu61ygkfc3v.typeform.com/to/KHZeedk3" class="inline-block bg-black text-white py-2 px-4 rounded-full border border-transparent hover:bg-white hover:text-black hover:border-black dark:hover:border-white dark:bg-white dark:text-black dark:hover:bg-black dark:hover:text-white transition-colors duration-300 ease-in-out">Join the waitlist</a>
                
                {% if user.is_authenticated %}
                <div class="mt-4">
                    <!-- Corrected classes for "Search News" button -->
                    <a href="{% url 'news_home' %}" class="inline-block bg-pink-600 text-white py-2 px-4 rounded-full border border-transparent hover:bg-white hover:text-black hover:border-black dark:bg-pink-600 dark:text-white dark:hover:bg-black dark:hover:text-white dark:hover:border-white transition-colors duration-300 ease-in-out">Search News</a>
                </div>
                {% endif %}
                {% if user|has_group:"Dashboard Users" %}
                <div class="mt-4">
                    <!-- Adjusted classes for "Dashboard" button -->
                    <a href="{% url 'dashboard' %}" class="inline-block bg-blue-500 text-white py-2 px-4 rounded-full border border-transparent hover:bg-white hover:text-black hover:border-black dark:hover:border-white dark:bg-blue-500 dark:text-white dark:hover:bg-black dark:hover:text-white transition-colors duration-300 ease-in-out">Dashboard</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<style>
    .shimmer {
        display: inline-block;
        animation: shimmer 2s infinite linear;
    }
    
    @keyframes shimmer {
        0% { color: red; }
        20% { color: orange; }
        40% { color: yellow; }
        60% { color: green; }
        80% { color: blue; }
        100% { color: violet; }
    }
    
    .blinking-cursor {
        font-weight: bold;
        font-size: inherit; /* Match the font size of surrounding text */
        color: white;
        animation: blink 1s step-end infinite;
    }
    
    @keyframes blink {
        from, to { color: transparent; }
        50% { color: white; }
    }
    
    .ast {
        display: inline-block;
    }
    .fixed-height {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .shimmer {
        display: inline-block;
        animation: shimmer 2s infinite linear;
    }
</style>

<script>
    const sleep = time => new Promise(resolve => setTimeout(resolve, time));

    class TypeAsync extends HTMLElement {
        constructor() {
            super();
            this._text = '';
        }

        async type(text) {
            for (let character of text) {
                if (character === '*') {
                    this.innerHTML += '<span class="shimmer">*</span>';
                } else {
                    this._text += character;
                    this.innerText = this._text;
                }
                await sleep(this.typeInterval);
            }
        }
        
        async delete() {
            while (this._text.length > 0) {
                this._text = this._text.slice(0, this._text.length - 1);
                this.innerText = this._text;
                await sleep(this.typeInterval);
            }
        }

        get typeInterval() {
            const randomMs = 100 * Math.random();
            return randomMs < 50 ? 10 : randomMs;
        }
    }

    customElements.define('type-async', TypeAsync);

    document.addEventListener('DOMContentLoaded', async (event) => {
        const node = document.querySelector("#dynamic-text");
        const words = ['looking', 'researching', 'rooting', 'developing', 'asking']; // add your words here
        
        let counter = 0;
        
        // Remove the underlines
        node.innerText = "";
        
        await sleep(1000);
        
        for (let counter = 0; counter < words.length; counter++) {
            await node.type(words[counter]);
            if (counter < words.length - 1) { // Check if it's not the last word
                await sleep(2000);
                await node.delete();
            }
        }
    });
</script>
