{% extends "base.html" %}

{% load static %}

{% block news_home %}

{% if user.is_authenticated %}
<div class='tldr-wrapper dark:bg-black flex flex-col justify-center items-center h-screen bg-white' style='margin-top: -5rem'>
        <div class='tldr-header'>
            <h1 class="text-white text-4xl" style='margin-top: -5rem'>TLDR Summary Generator</h1>
        </div>
        <div class='tldr-body'>
            <form hx-get="{% url 'fetch_tldr' %}" hx-target="#tldr-container">
                <div class="search-bar flex items-center justify-center mt-8">
                    <input type="text" name="query" placeholder="Search..." class="search-input px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
                    <button type="submit" class="button border-red-100 ml-4 text-white dark:text-black">Fetch TLDR</button>
                </div>
            </form>
            <span class="spinner"></span>
            <div id="articles-output">
            </div>
            <div id="tldr-container">
            </div>
    </div>
</div>
<script src="https://unpkg.com/htmx.org"></script>
{% else %}
<div class='tldr-wrapper'>
    <div class='tldr-header'>
        <h1>TLDR Summary Generator</h1>
    </div>
    <div class='tldr-body'>
        <h2>Sign in to use the TLDR Summary Generator</h2>
    </div>
</div>
{% endif %}
<script>
    document.body.addEventListener('htmx:afterRequest', function() {
        document.querySelector('.spinner').style.display = 'none';
    });

    document.body.addEventListener('htmx:beforeRequest', function() {
        document.querySelector('.spinner').style.display = 'inline-block';
    });
</script>
    
{% endblock %}
