{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="min-h-max bg-white py-8 antialiased dark:bg-gray-900 md:py-16">
  <div class="mx-auto max-w-screen-lg px-4 2xl:px-0">
    <div class="lg:flex lg:items-center lg:justify-between lg:gap-4">


        <div class="space-y-4 py-6 md:py-8">
          <div class="grid gap-4">
            <div>
              <span class="inline-block rounded bg-green-100 px-2.5 py-0.5 text-xs font-medium text-green-800 dark:bg-green-900 dark:text-green-300 md:mb-0">Quickstart</span>
              <span class="inline-block rounded bg-blue-300 px-2.5 py-0.5 text-xs font-medium text-green-800 dark:bg-blue-400 dark:text-gray-700 md:mb-0">Blog</span>
            </div>


            <a href="{% url "user_guide" %}" class="text-xl font-semibold text-gray-900 hover:underline dark:text-white">“Best practices for using Open Politics”</a>
          </div>
          <p class="text-base font-normal text-gray-500 dark:text-gray-400">A quickstart for using open politics. Conceptual baselines, methods and how to get the most out of it.</p>
          <p class="text-sm font-medium text-gray-500 dark:text-gray-400">
            May 1st, 2024
            <a href="#" class="text-gray-900 hover:underline dark:text-white">Jim Vincent Wagner</a>
          </p>
        </div>

       
      </div>
    </div>


  </div>
  
</section>

<section class="min-h-max bg-white py-8 antialiased dark:bg-gray-900 md:py-16">
    <div class="mx-auto max-w-screen-lg px-4 2xl:px-0">
      <div class="lg:flex lg:items-center lg:justify-between lg:gap-4">
 
  
          <div class="space-y-4 py-6 md:py-8">
            <div class="grid gap-4">
              <div>
                <span class="inline-block rounded bg-green-100 px-2.5 py-0.5 text-xs font-medium text-green-800 dark:bg-green-900 dark:text-green-300 md:mb-0">Quickstart</span>
                <span class="inline-block rounded bg-blue-300 px-2.5 py-0.5 text-xs font-medium text-green-800 dark:bg-blue-400 dark:text-gray-700 md:mb-0">Blog</span>
              </div>

  
              <a href="{% url "user_guide" %}" class="text-xl font-semibold text-gray-900 hover:underline dark:text-white">“Best practices for using Open Politics”</a>
            </div>
            <p class="text-base font-normal text-gray-500 dark:text-gray-400">A quickstart for using open politics. Conceptual baselines, methods and how to get the most out of it.</p>
            <p class="text-sm font-medium text-gray-500 dark:text-gray-400">
              May 1st, 2024
              <a href="#" class="text-gray-900 hover:underline dark:text-white">Jim Vincent Wagner</a>
            </p>
          </div>
  
         
        </div>
      </div>
  

    </div>
    
  </section>
  
 
{% endblock %}