
<div class="bio-pics-wrapper">

    <div class="bio-pic"><a href="#"><img src="https://unsplash.it/600" /></a></div>
    <div class="bio-pic"><a href="#"><img src="https://unsplash.it/500" /></a></div>
    <div class="bio-pic"><a href="#"><img src="https://unsplash.it/400" /></a></div>
  
  </div>
<div class='ssare'>
<div id="form" class="form">
    <div id="heading" class="glass glass--gradient glass--heading">
      
      <span class="form-header">
        <span class="form-icon"></span><span class="form-title">What kind of news interest you?</span> </span>
      <button class="form-close-button">✕</button>
    </div>
    <div id="input" class="glass">
      <input type="text" placeholder="Type your request here">
    </div>
  </div>
</div>
<script>
    const form = document.getElementById("form");
const heading = document.getElementById("heading");
heading.onclick = (e) => {
  form.classList.toggle('open')
}
</script>