<!-- Mobile-optimized TailwindCSS HTML with scrollable TL;DR and horizontal scrolling articles -->
<div id="tldr-output" class="overflow-y-scroll max-h-[50vh] font-sans text-xs text-gray-800 dark:text-white bg-aqua-200 p-2 rounded-md shadow-sm border border-pink-600 dark:border-white">
    <!-- Your TL;DR content goes here, safe-filtered -->
    {{ tldr|safe }}
</div>

<div id="articles-output" class="flex overflow-x-scroll py-1 space-x-1">
    {% for article in articles %}
    <div class="article-card flex-shrink-0 flex-col relative m-1 min-w-[75vw] sm:min-w-[40vw] lg:min-w-[30vw] xl:min-w-[20vw] max-w-xs min-h-[8vh] border border-gray-700 text-left align-top  bg-opacity-50 rounded-lg">
        <div class="title relative p-1 ">
            <a href="{{ article.url }}" class="block truncate">
                <p class="text-xs text-blue-500 font-semibold mt-2 p-1">{{ article.source.name }}</p>
            </a>
        </div>
        <div class="content relative p-2">
            <h3 class="text-sm text-black dark:text-white mb-1">{{ article.title }}</h3>
            <p class="text-xs text-black dark:text-white leading-5">{{ article.content|slice:":200" }}...</p>
        </div> 
        {% if article.image %}
        <div class="image absolute top-0 left-0 w-full h-full object-cover object-center bg-cover bg-no-repeat opacity-60 dark:opacity-60 z-[1] rounded-lg" style="background-image: url('{{ article.image }}');"></div>
        {% endif %}
        <div class="button-container p-2">
            <a href="{{ article.url }}" class="text-xs text-blue-500 font-semibold bg-pink-200 dark:bg-gray-700 hover:bg-pink-6008 dark:hover:bg-gray-600 py-1 px-2 rounded-md transition-colors duration-300">Read article</a>
        </div>
    </div>
    {% endfor %}
</div>


<script>
    function toggleContent(button) {
        var card = button.parentNode;
        card.classList.toggle("expanded");
        if (card.classList.contains("expanded")) {
            button.textContent = "Minimize";
        } else {    
            button.textContent = "Read more";
        }
    }
</script>
