<style>
    /* Hide scrollbars for Chrome, Safari, and Opera */
    .overflow-x-scroll::-webkit-scrollbar,
    .overflow-y-scroll::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbars for IE and Edge */
    .overflow-x-scroll,
    .overflow-y-scroll {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
</style>
<div class="p-0 bg-white dark:bg-gray-900 shadow-md rounded-lg">
    <div id="emoji-output" class="mt-4 text-lg text-left text-green-500"></div>
  
    <div id="articles-output" class="flex overflow-x-scroll space-x-1 mt-4">
      <!-- Articles will be loaded here via SSE -->
    </div>
  
    <div class="issue-areas mt-4 overflow-y-scroll font-sans border border-pink-600 dark:border-pink-400 p-2 rounded-md shadow-sm max-h-48">
      <h4 class="text-sm mx-2 mt-2 font-semibold text-gray-900 dark:text-fluorescent-green mb-2">Issue Areas:</h4>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
        <!-- Issue areas will be loaded here via SSE -->
      </div>
    </div>
  
    <div id="tldr-output" class="overflow-y-scroll font-sans text-xs mt-6 text-green-500 dark:text-green-400 bg-aqua-200 dark:bg-aqua-900 p-2 rounded-md shadow-sm border border-pink-600 dark:border-pink-400 max-h-48">
      <!-- TL;DR content will be loaded here via SSE -->
    </div>
  
    <div class="spinner hidden">
      <div class="loader"></div>
    </div>
  </div>
