/* FILEPATH: /opt/open-politics/open_politics_project/bt_thema/static/styles_process.css */
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: black;
}

.hi-class {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.master-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.process-card {
    width: 30vmin;
    aspect-ratio: 1/1.618;
    border: 1px solid black;

    position: relative;
    overflow: hidden;
    background-color: limegreen;
}

.process-card__number {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    font-weight: bold;
}

.process-card__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
}

.process-card__description {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 16px;
}